
@{
    ViewBag.Title = "EmpriseBook";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="clearfix"></div>
<div class="list_center">
    <div class="update_title">
        <span class="update_icon">武侠仙侠·小说列表</span>
    </div>
    <div id="sitebox">

        <dl>
            <dt><a href="http://www.wb18.net/book/2023.html"><img src="http://www.wb18.net/files/article/image/2/2023/2023s.jpg" alt="仙藏" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2023.html">仙藏</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=鬼雨/" target="_blank" rel="nofollow">鬼雨/</a></span>状态：<span>连载中</span>大小：<span>958K</span></dd>
            <dd class="book_des">
                这是一本充满传奇、悠闲安逸、富有阳光的仙侠修真小说。
                虚度光阴年过半百的秦笛穿越到了异界，从一个懵懂少年接受桃花洗礼开始，他的命运就与一枚神奇的桃核分不开了。自此之… <a href="http://www.wb18.net/modules/article/reader.php?aid=2023" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2023,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2023&cid=1617367">第192章 灭杀元婴</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2004.html"><img src="http://www.wb18.net/files/article/image/2/2004/2004s.jpg" alt="寻情仙使" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2004.html">寻情仙使</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=陈风笑/" target="_blank" rel="nofollow">陈风笑/</a></span>状态：<span>连载中</span>大小：<span>6971K</span></dd>
            <dd class="book_des">    李永生从仙界到位面做观风使，这是仙界体察民意了解实情的职务，不过他主动下界，除了要完成任务，还有很重要的一点，那就是寻找在下界转生的仙侣，如何在不暴露身份的情况下找到… <a href="http://www.wb18.net/modules/article/reader.php?aid=2004" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2004,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2004&cid=1603251">第九百七十二章 压力山大</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1985.html"><img src="http://www.wb18.net/files/article/image/1/1985/1985s.jpg" alt="无上真身" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1985.html">无上真身</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=乘风御剑/" target="_blank" rel="nofollow">乘风御剑/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1646K</span></dd>
            <dd class="book_des">
                “终有一天，不是我容不下这个世界，而是这个世界再也没资格容得下我！”
                世间一切，自有其法则！
                规章、法则、制度，即道，即天道！
                天道主杀！
                ……
                修为划… <a href="http://www.wb18.net/modules/article/reader.php?aid=1985" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1985,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1985&cid=1598300">第一百七十五回 一击之威</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1978.html"><img src="http://www.wb18.net/files/article/image/1/1978/1978s.jpg" alt="妻妾成群" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1978.html">妻妾成群</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=东门吹牛/" target="_blank" rel="nofollow">东门吹牛/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2190K</span></dd>
            <dd class="book_des">
                简介：明末清初，秦淮八艳，满蒙美女，东瀛尤物粉墨登场！
                ************************************************
                新书《九五至尊》。《妻妾成群》《大唐寻芳谱》都已完本。… <a href="http://www.wb18.net/modules/article/reader.php?aid=1978" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1978,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1978&cid=1598082">310章【罢黜儒术，百家争鸣】上</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1971.html"><img src="http://www.wb18.net/files/article/image/1/1971/1971s.jpg" alt="大师风流" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1971.html">大师风流</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=青冥/" target="_blank" rel="nofollow">青冥/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1878K</span></dd>
            <dd class="book_des">
                大道无形，流转于天地间，唯有大毅力，大智慧，大勇气，大决心才能获取。
                道是法则，道是定律，天地万物自虚空中诞生，于是便有了道。有诸如万有引力、光合作用、质能转换方程… <a href="http://www.wb18.net/modules/article/reader.php?aid=1971" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1971,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1971&cid=1594442">【第284章】 大杀(下)</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1968.html"><img src="http://www.wb18.net/files/article/image/1/1968/1968s.jpg" alt="火中金莲" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1968.html">火中金莲</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=老衲不能吃素/" target="_blank" rel="nofollow">老衲不能吃素/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1939K</span></dd>
            <dd class="book_des">
                神仙都由人来做，人要成仙路漫长。
                一个凡人向仙人转变的进化历程。
                修仙境界划分：练气，筑基，金丹，元婴，化神。。。。
                PS;本书属于慢热型，前期铺垫有些长。设定… <a href="http://www.wb18.net/modules/article/reader.php?aid=1968" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1968,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1968&cid=1593813">第三十七章 商定</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1953.html"><img src="http://www.wb18.net/files/article/image/1/1953/1953s.jpg" alt="修神" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1953.html">修神</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=风起闲云/" target="_blank" rel="nofollow">风起闲云/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6602K</span></dd>
            <dd class="book_des">
                有着建筑名师与盗墓者双重职业的楚逸，在祖传宝珠的引领下，来到了玄元星，一颗修真者掌控的星球。
                不甘平凡的他，从卑微的矿工做起，为的只是一线踏足修真路的机会……
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1953" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1953,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1953&cid=1587803">本人新作《君仙》?【修体炼魄，以力证道】</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1956.html"><img src="http://www.wb18.net/files/article/image/1/1956/1956s.jpg" alt="寻仙卷" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1956.html">寻仙卷</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=唯易永恒/" target="_blank" rel="nofollow">唯易永恒/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2276K</span></dd>
            <dd class="book_des">
                新书《鸿蒙教尊》发布，还望多多支持
                一个豪门冷落的庶子，机缘巧合之下，得到从鸿蒙世界穿越而来的轩辕圣皇传承。穴窍九门通，元婴九门通，渡九次雷劫，都可达九九至尊。唯独… <a href="http://www.wb18.net/modules/article/reader.php?aid=1956" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1956,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1956&cid=1586786">第一章，仙之大陆，仙都国</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1942.html"><img src="http://www.wb18.net/files/article/image/1/1942/1942s.jpg" alt="龙蛇演义" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1942.html">龙蛇演义</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=梦入神机/" target="_blank" rel="nofollow">梦入神机/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4556K</span></dd>
            <dd class="book_des">
                本来龙蛇还没有完结，不应该开新书的。但是因为合同规定，必须要开了。
                新书是仙侠，准备了很久，应该会让大家耳目一新吧。
                龙蛇最近更新缓慢到了一个令人发指的程度，我… <a href="http://www.wb18.net/modules/article/reader.php?aid=1942" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1942,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1942&cid=1580288">第五百一十章 前面的路！{大结局}</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1931.html"><img src="http://www.wb18.net/files/article/image/1/1931/1931s.jpg" alt="混沌雷修" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1931.html">混沌雷修</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=写字板/" target="_blank" rel="nofollow">写字板/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6865K</span></dd>
            <dd class="book_des">
                一个在门派里被欺负的小胖子，依靠亡故父母遗留的法宝，修炼出绝世混沌五行雷术，逐渐崛起江湖。
                癸水神雷，丙火神雷，乙木神雷，戊土神雷，庚金神雷，小五行混元神雷，大五行… <a href="http://www.wb18.net/modules/article/reader.php?aid=1931" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1931,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1931&cid=1575122">本人新书召唤美女军团已经上传</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1929.html"><img src="http://www.wb18.net/files/article/image/1/1929/1929s.jpg" alt="六道仙尊" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1929.html">六道仙尊</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=云霆飞/" target="_blank" rel="nofollow">云霆飞/</a></span>状态：<span style="color:red">已完成</span>大小：<span>12793K</span></dd>
            <dd class="book_des">
                内容提要：
                天地六界，远古鸿蒙。
                一个卑微的小人物毕凡，一步步修炼成长。闯魔域煞气冲天、战潜龙一鸣惊人、闯天下成就威名、夺宝库独占鳌头、入混沌翻云覆雨、踏六界唯… <a href="http://www.wb18.net/modules/article/reader.php?aid=1929" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1929,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1929&cid=1569701">第四百三十章 鸿蒙至尊（大结局）</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1925.html"><img src="http://www.wb18.net/files/article/image/1/1925/1925s.jpg" alt="仙遁" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1925.html">仙遁</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=蛇吞鲸/" target="_blank" rel="nofollow">蛇吞鲸/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2825K</span></dd>
            <dd class="book_des">    孔焯本是一个普通的罗孚弟子，平生最大的愿望便是混吃等死，哦，错了，混吃长生，对于本身并无太高的要求，岂料一次下山祭祖便得了早已绝传了数万年的正宗巫族修行法门大日琉璃金… <a href="http://www.wb18.net/modules/article/reader.php?aid=1925" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1925,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1925&cid=1565342">第二百九十八章 封禁 终结</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1162.html"><img src="http://www.wb18.net/files/article/image/1/1162/1162s.jpg" alt="无上进化" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1162.html">无上进化</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=逆天而翔/" target="_blank" rel="nofollow">逆天而翔/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6586K</span></dd>
            <dd class="book_des">
                唯有以我心之霸血,方入无上进化之天道!
                本已无望考上本科的陈儒，意外开启神秘血玉，得到上古凶妖??蚊道人的修炼传承，从而走上了一条绝世进化的道路。
                从此，我心唯扬，… <a href="http://www.wb18.net/modules/article/reader.php?aid=1162" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1162,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1162&cid=1565024">第741章 大结局！</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1920.html"><img src="http://www.wb18.net/files/article/image/1/1920/1920s.jpg" alt="仙剑神曲" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1920.html">仙剑神曲</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=牛语者/" target="_blank" rel="nofollow">牛语者/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3135K</span></dd>
            <dd class="book_des">    丁原：翠霞派淡言真人门下弟子，幼年的颠沛成就他孤傲的性格，尽管外表冷漠，内心深处却埋藏着不曾熄灭的火焰。在经历种种少年磨砺，生离死别後，终於发现原来正魔之异永远都只在… <a href="http://www.wb18.net/modules/article/reader.php?aid=1920" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1920,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1920&cid=1561242">大结局</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1918.html"><img src="http://www.wb18.net/files/article/image/1/1918/1918s.jpg" alt="偷天" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1918.html">偷天</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=血红/" target="_blank" rel="nofollow">血红/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8616K</span></dd>
            <dd class="book_des">
                窃钩者诛，窃国者侯，窃天地人心者，或为神圣仙佛。
                天地之道，无边无际；红尘人心，无穷无尽。
                且看吾孤身只手，将这天地一手偷之。
                ************************
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1918" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1918,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1918&cid=1560844">完本感言</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1917.html"><img src="http://www.wb18.net/files/article/image/1/1917/1917s.jpg" alt="剑谍" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1917.html">剑谍</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=牛语者/" target="_blank" rel="nofollow">牛语者/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2908K</span></dd>
            <dd class="book_des">    作为一名间谍，孤独的背负着使命，为兄弟与爱人所不容，该如何安身立命？故事就从一只千年妖狐、一座雾灵山脉，和一份天道至宝“云篆天策”开始……当正魔两道无数高手，同时盯上… <a href="http://www.wb18.net/modules/article/reader.php?aid=1917" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1917,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1917&cid=1559686">后记 牛语者</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1915.html"><img src="http://www.wb18.net/files/article/image/1/1915/1915s.jpg" alt="极道圣尊" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1915.html">极道圣尊</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=荒古天帝/" target="_blank" rel="nofollow">荒古天帝/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6984K</span></dd>
            <dd class="book_des">
                圣尊，横扫九天十地，纵横六合八方，无敌三千寰宇，逍遥鸿蒙天地，超脱永恒纪元，历万劫而不灭。
                三千大道，混沌为尊；无数纪元，众多道主都只为最终超脱。
                亘古宇宙，强… <a href="http://www.wb18.net/modules/article/reader.php?aid=1915" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1915,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1915&cid=1557616">第一千十二章 飞十升仙界（大结局）</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1913.html"><img src="http://www.wb18.net/files/article/image/1/1913/1913s.jpg" alt="张三丰弟子现代生活录" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1913.html">张三丰弟子现代生活录</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=断桥残雪/" target="_blank" rel="nofollow">断桥残雪/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4539K</span></dd>
            <dd class="book_des">
                张湖畔，张三丰最出色的弟子，百年进入元婴期境界的修真奇才。他是张三丰飞升后张三丰所有仙器，灵药，甚至玄武大帝修炼仙境的唯一继承者，也是武当派最高者。
                在张三丰飞升后… <a href="http://www.wb18.net/modules/article/reader.php?aid=1913" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1913,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1913&cid=1555315">结束感言和新书预告</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1894.html"><img src="http://www.wb18.net/files/article/image/1/1894/1894s.jpg" alt="仙界修仙" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1894.html">仙界修仙</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=莫默/" target="_blank" rel="nofollow">莫默/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5684K</span></dd>
            <dd class="book_des">
                一个修仙菜鸟在仙界的奋斗史!
                一个未经历天劫的普通人抓着雪白的仙女之腿，飞升了仙界。他的艳遇不断，他泡仙界最难泡的仙女，他的成长让仙界各大势力为之侧目，恐慌不安，他… <a href="http://www.wb18.net/modules/article/reader.php?aid=1894" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1894,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1894&cid=1544120">新书已发，《唐门高手在异世》</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1890.html"><img src="http://www.wb18.net/files/article/image/1/1890/1890s.jpg" alt="丹警" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1890.html">丹警</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=静夜寄思/" target="_blank" rel="nofollow">静夜寄思/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3292K</span></dd>
            <dd class="book_des">    修真天才当警察，破案炼丹两不误！宋柏宇是修真界万年不遇的炼丹天才，渡劫失败后附身于一个普通警察。重生后，没有了修真基础的他正好可以修炼攻防兼备的逆天秘籍《春秋决》，再… <a href="http://www.wb18.net/modules/article/reader.php?aid=1890" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1890,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1890&cid=1540458">新书《吞天》已经上传！</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1877.html"><img src="http://www.wb18.net/files/article/image/1/1877/1877s.jpg" alt="重生游戏洪荒世界之证帝" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1877.html">重生游戏洪荒世界之证帝</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=牛顿也吃苹果啊/" target="_blank" rel="nofollow">牛顿也吃苹果啊/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1851K</span></dd>
            <dd class="book_des">
                罗文穿越到了异世。别人穿越不是乞丐，就是奴才，要不就是不得意的的宗家弟子，他倒好一穿越就是做了皇帝。朝廷的事情也不需要他多管。以为可以舒舒服服的做个昏君
                谁知道大臣… <a href="http://www.wb18.net/modules/article/reader.php?aid=1877" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1877,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1877&cid=1531970">三百五十九章 这一切只是因为两位纨绔的赌局</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1851.html"><img src="http://www.wb18.net/files/article/image/1/1851/1851s.jpg" alt="证魂道" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1851.html">证魂道</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=典玄/" target="_blank" rel="nofollow">典玄/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4697K</span></dd>
            <dd class="book_des">
                三魂七魄，合成十方之念，横扫八方六合，宇宙洪荒，成就真正大道！
                别人证仙道，魔道，佛道，独我证魂道！大道在于魂，大道在于我！
                （证魂道一群：87236864）
                （证魂… <a href="http://www.wb18.net/modules/article/reader.php?aid=1851" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1851,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1851&cid=1518844">关于新书上传时间！</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1844.html"><img src="http://www.wb18.net/files/article/image/1/1844/1844s.jpg" alt="仙铃" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1844.html">仙铃</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=紫钗恨/" target="_blank" rel="nofollow">紫钗恨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2546K</span></dd>
            <dd class="book_des">
                宁愿活多钱少，也要离家近。这本是叶县小书办柳青云梦想中的幸福人生。
                但是一卷《林州志》附录中极炫丽的法决，为他开启了一扇修仙之门。
                长生不死，乘云御龙，看柳青云… <a href="http://www.wb18.net/modules/article/reader.php?aid=1844" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1844,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1844&cid=1514509">新书《银河争霸战》已上传</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1839.html"><img src="http://www.wb18.net/files/article/image/1/1839/1839s.jpg" alt="修真庄园主" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1839.html">修真庄园主</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=壮乡小仨/" target="_blank" rel="nofollow">壮乡小仨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4551K</span></dd>
            <dd class="book_des">
                一个继承了修真者遗产的大学毕业生在乡下奋斗，建立心目中理想庄园的故事。
                小仨新书《极品地主》已经上传，希望大家前去支持，书页上有直通车！
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1839" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1839,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1839&cid=1512230">五百零九章 日月如梭大结局</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1836.html"><img src="http://www.wb18.net/files/article/image/1/1836/1836s.jpg" alt="极道龙尊" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1836.html">极道龙尊</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=血魂天下/" target="_blank" rel="nofollow">血魂天下/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1592K</span></dd>
            <dd class="book_des">
                本书已经签约，欢迎大家收藏支持，新人新书不容易！　群号：109313765　欢迎大家前来指点！
                龙雪傲得到了远古巨龙的传承，传承血炼诀与上古星空炼神诀。在异龙血脉觉醒后，龙… <a href="http://www.wb18.net/modules/article/reader.php?aid=1836" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1836,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1836&cid=1510207">算是感言吧！</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1828.html"><img src="http://www.wb18.net/files/article/image/1/1828/1828s.jpg" alt="重生西游" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1828.html">重生西游</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=宅猪/" target="_blank" rel="nofollow">宅猪/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2000K</span></dd>
            <dd class="book_des">
                ??雁过拔毛，就算是铁公鸡从俺老朱面前飞过，也要吸他一口血，不然便是吃亏了！
                ??嗯，如果观世音菩萨敢跑到俺流沙河灌水，俺这个版猪，有绝对的权力拍她闷砖！
                ??先不要… <a href="http://www.wb18.net/modules/article/reader.php?aid=1828" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1828,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1828&cid=1504592">第三百三十三回 结局</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1809.html"><img src="http://www.wb18.net/files/article/image/1/1809/1809s.jpg" alt="狂仙（璇玑心德）" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1809.html">狂仙（璇玑心德）</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=璇玑心德/" target="_blank" rel="nofollow">璇玑心德/</a></span>状态：<span style="color:red">已完成</span>大小：<span>9937K</span></dd>
            <dd class="book_des">    因为一本神秘的金色古籍，徐天涯来到一处神秘的世界，在这个世界中修士是这个世界的主导力量，成为这个世界的一员后，徐天涯不得不为了生存而慢慢和这个世界融合在一起，在这个过… <a href="http://www.wb18.net/modules/article/reader.php?aid=1809" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1809,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1809&cid=1491699">第一千四百七十八章圣人之道</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1797.html"><img src="http://www.wb18.net/files/article/image/1/1797/1797s.jpg" alt="九州牧云录" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1797.html">九州牧云录</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=管平潮/" target="_blank" rel="nofollow">管平潮/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1779K</span></dd>
            <dd class="book_des">
                《仙路烟尘》作者新作，清新欢乐仙侠！
                .......???..○.
                ....??.....?...
                .?___●_.........
                ...,?■..........
                .ど~~&amp;quot;∥~)?......
                ___~∧~~∧_____… <a href="http://www.wb18.net/modules/article/reader.php?aid=1797" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1797,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1797&cid=1480084">十二卷 『繁华逐逝水东流』第三十四章 相濡以沫，不若相忘江湖</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1796.html"><img src="http://www.wb18.net/files/article/image/1/1796/1796s.jpg" alt="潜龙" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1796.html">潜龙</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=断刃天涯/" target="_blank" rel="nofollow">断刃天涯/</a></span>状态：<span style="color:red">已完成</span>大小：<span>911K</span></dd>
            <dd class="book_des">    一个和修真有关的故事，可能会和一般的仙侠文有所不同，原因是作者很努力的想写出一点不同。大概就是这样，如果有读者想在本书中找到什么微言大义，那么一定会失望的。这本书在我… <a href="http://www.wb18.net/modules/article/reader.php?aid=1796" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1796,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1796&cid=1479777">第一百四十章大结局</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1792.html"><img src="http://www.wb18.net/modules/article/images/nocover.jpg" alt="修真在1986年后" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1792.html">修真在1986年后</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=紫泉灵液/" target="_blank" rel="nofollow">紫泉灵液/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1977K</span></dd>
            <dd class="book_des">    穷家出生的平凡少年叶瑜，懵懂中机缘巧合之下于一竹简中得到《长意术》功法而踏上神秘莫测的修真之旅。盗墓时无意中进入了神秘天境，得月辉、月轮、解天境之谜，回华夏称雄，去兰… <a href="http://www.wb18.net/modules/article/reader.php?aid=1792" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1792,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1792&cid=1477608">第三百九十九章 斗转星移回故乡</a></dd>
        </dl>

        <div class="clearfix"></div>
    </div>
    <div class="all_ad mtop"><span id="ad_980_2"></span></div>
    </div>
