
@{
    ViewBag.Title = "FantasyBook";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @*<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .wrap {
            height: 500px;
            width: 1170px;
            margin: 60px auto;
            overflow: hidden;
            position: relative;
            margin: 100px auto;
            margin-left: 10px;
        }

            .wrap ul {
                position: absolute;
            }


            .wrap ol {
                position: absolute;
                right: 5px;
                bottom: 10px;
            }

                .wrap ol li {
                    height: 20px;
                    width: 20px;
                    background: #ccc;
                    border: solid 1px #666;
                    margin-left: 5px;
                    color: #000;
                    float: left;
                    line-height: center;
                    text-align: center;
                    cursor: pointer;
                }

                .wrap ol .on {
                    background: #E97305;
                    color: #fff;
                }

        #list {
            margin-right: 500px;
        }

        #myTab {
            /*margin-left: 900px;*/
            position: absolute;
            right: 24px;
            top: 0;
            height: 500px;
            width: 352px;
            border-color: #000;
            border-style: solid;
            border-width: 1px;
            border-color: #ccc;
            background-color: rgba(237, 236, 236, 0.52);
        }

        #myTabContent {
            /*margin-left: 900px;*/
            margin-top: 60px;
            position: absolute;
            right: 179px;
            top: 0;
        }

        .div-inline {
            display: inline;
        }

        #fong {
            display: inline;
            margin-left: 120px;
        }

        #gont {
            /*float:right;*/
            margin-left: 120px;
        }

        #ong {
            margin-left: 100px;
        }

        #dont {
            position: absolute;
            margin-top: -2px;
            font-size: 20px;
        }

        #hh {
            position: absolute;
            margin-top: 140px;
            margin-left: -40px;
        }

        #fong {
            margin-left: 110px;
        }

        #dd {
            font-size: 30px;
            margin-top: -50px;
        }

        #a.hover {
            color: #E97305;
        }

        .tab-pane {
            position: absolute;
            width: 300px;
            margin-left: -144px;
        }

        #a {
            color: #a76222;
            font-size: 20px;
        }
    </style>
    <script type="text/javascript">
        window.onload = function () {
            var wrap = document.getElementById('wrap'),
            pic = document.getElementById('pic').getElementsByTagName("li"),
            list = document.getElementById('list').getElementsByTagName('li'),
            index = 0,
            timer = null;

            // 定义并调用自动播放函数
            timer = setInterval(autoPlay, 2000);

            // 鼠标划过整个容器时停止自动播放
            wrap.onmouseover = function () {
                clearInterval(timer);
            }

            // 鼠标离开整个容器时继续播放至下一张
            wrap.onmouseout = function () {
                timer = setInterval(autoPlay, 2000);
            }
            // 遍历所有数字导航实现划过切换至对应的图片
            for (var i = 0; i < list.length; i++) {
                list[i].onmouseover = function () {
                    clearInterval(timer);
                    index = this.innerText - 1;
                    changePic(index);
                };
            };

            function autoPlay() {
                if (++index >= pic.length) index = 0;
                changePic(index);
            }

            // 定义图片切换函数
            function changePic(curIndex) {
                for (var i = 0; i < pic.length; ++i) {
                    pic[i].style.display = "none";
                    list[i].className = "";
                }
                pic[curIndex].style.display = "block";
                list[curIndex].className = "on";
            }

        };

    </script>
</head>
<body >
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="list_center">
        <div class="update_title">
            <span class="update_icon">玄幻奇幻·小说列表</span>
        </div>
        <div id="sitebox">

            <dl>
                <dt><a href="/BookInfo/ShowBookInfo"><img src="http://www.wb18.net/files/article/image/2/2020/2020s.jpg" alt="巨星从业者" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="/BookInfo/ShowBookInfo">巨星从业者</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=君王带笑/" target="_blank" rel="nofollow">君王带笑/</a></span>状态：<span>连载中</span>大小：<span>2312K</span></dd>
                <dd class="book_des">
                    他是霍去病，是展昭，是唐钰小宝，是剑客，是时代小青年，是厂花，是冷血杀手，是温情大叔，是无畏战士，是仙帝，他他他……
                    他不是变态，他也不是分裂，他只是一个演员！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2020" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2020,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2020&cid=1615853">第364章 可不敢客串</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2016.html"><img src="http://www.wb18.net/files/article/image/2/2016/2016s.jpg" alt="大道争锋" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2016.html">大道争锋</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=误道者/" target="_blank" rel="nofollow">误道者/</a></span>状态：<span>连载中</span>大小：<span>12902K</span></dd>
                <dd class="book_des">
                    大道之路，唯在“争”字！
                    长生之路，只为抢夺冥冥中一丝造化天机！
                    至人，神明，炼劫……
                    一步一境界，一步一争锋！
                    一少年因有大气运，大福缘在身，被一玄门世… <a href="http://www.wb18.net/modules/article/reader.php?aid=2016" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2016,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2016&cid=1613520">第一百三十三章 符落青天截算谋</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2011.html"><img src="http://www.wb18.net/files/article/image/2/2011/2011s.jpg" alt="校花的贴身高手" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2011.html">校花的贴身高手</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=鱼人二代/" target="_blank" rel="nofollow">鱼人二代/</a></span>状态：<span>连载中</span>大小：<span>7705K</span></dd>
                <dd class="book_des">
                    一个大山里走出来的绝世高手，一块能预知未来的神秘玉佩……
                    林逸是一名普通学生，不过，他还身负另外一个重任，那就是追校花！而且还是奉校花老爸之命！
                    虽然林逸很不想… <a href="http://www.wb18.net/modules/article/reader.php?aid=2011" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2011,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2011&cid=1608096">第1664章 更厉害的招数-第1665章 赠送别墅</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2010.html"><img src="http://www.wb18.net/files/article/image/2/2010/2010s.jpg" alt="异世界的美食家" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2010.html">异世界的美食家</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=李鸿天/" target="_blank" rel="nofollow">李鸿天/</a></span>状态：<span>连载中</span>大小：<span>4571K</span></dd>
                <dd class="book_des">    在武者举手可裂山川，甩腿可断长河的玄幻世界中，存在着这样一家小餐馆。小餐馆不大，但却是无数顶尖强者趋之若鹜之地。在那儿你可以品尝到用凤凰蛋和龙血米炒成的蛋炒饭。在那儿… <a href="http://www.wb18.net/modules/article/reader.php?aid=2010" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2010,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2010&cid=1606430">第六百五十三章 一碗刀削面</a></dd>
            </dl>

            <div class="clearfix"></div>
            <div class="all_ad mtop"><span id="ad_980_2"></span></div>

            <div class="bottoma">
                <script>bottoma();</script>
            </div>
        </div>
    </div>
</body>
</html>
