
@{
    ViewBag.Title = "FantasyBook";
}
<html>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="list_center">
        <div class="update_title">
            <span class="update_icon">玄幻奇幻·小说列表</span>
        </div>
        <div id="sitebox">

            <dl>
                <dt><a href="http://www.wb18.net/book/2020.html"><img src="http://www.wb18.net/files/article/image/2/2020/2020s.jpg" alt="巨星从业者" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2020.html">巨星从业者</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=君王带笑/" target="_blank" rel="nofollow">君王带笑/</a></span>状态：<span>连载中</span>大小：<span>2312K</span></dd>
                <dd class="book_des">
                    他是霍去病，是展昭，是唐钰小宝，是剑客，是时代小青年，是厂花，是冷血杀手，是温情大叔，是无畏战士，是仙帝，他他他……
                    他不是变态，他也不是分裂，他只是一个演员！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2020" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2020,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2020&cid=1615853">第364章 可不敢客串</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2016.html"><img src="http://www.wb18.net/files/article/image/2/2016/2016s.jpg" alt="大道争锋" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2016.html">大道争锋</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=误道者/" target="_blank" rel="nofollow">误道者/</a></span>状态：<span>连载中</span>大小：<span>12902K</span></dd>
                <dd class="book_des">
                    大道之路，唯在“争”字！
                    长生之路，只为抢夺冥冥中一丝造化天机！
                    至人，神明，炼劫……
                    一步一境界，一步一争锋！
                    一少年因有大气运，大福缘在身，被一玄门世… <a href="http://www.wb18.net/modules/article/reader.php?aid=2016" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2016,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2016&cid=1613520">第一百三十三章 符落青天截算谋</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2011.html"><img src="http://www.wb18.net/files/article/image/2/2011/2011s.jpg" alt="校花的贴身高手" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2011.html">校花的贴身高手</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=鱼人二代/" target="_blank" rel="nofollow">鱼人二代/</a></span>状态：<span>连载中</span>大小：<span>7705K</span></dd>
                <dd class="book_des">
                    一个大山里走出来的绝世高手，一块能预知未来的神秘玉佩……
                    林逸是一名普通学生，不过，他还身负另外一个重任，那就是追校花！而且还是奉校花老爸之命！
                    虽然林逸很不想… <a href="http://www.wb18.net/modules/article/reader.php?aid=2011" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2011,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2011&cid=1608096">第1664章 更厉害的招数-第1665章 赠送别墅</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2010.html"><img src="http://www.wb18.net/files/article/image/2/2010/2010s.jpg" alt="异世界的美食家" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2010.html">异世界的美食家</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=李鸿天/" target="_blank" rel="nofollow">李鸿天/</a></span>状态：<span>连载中</span>大小：<span>4571K</span></dd>
                <dd class="book_des">    在武者举手可裂山川，甩腿可断长河的玄幻世界中，存在着这样一家小餐馆。小餐馆不大，但却是无数顶尖强者趋之若鹜之地。在那儿你可以品尝到用凤凰蛋和龙血米炒成的蛋炒饭。在那儿… <a href="http://www.wb18.net/modules/article/reader.php?aid=2010" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2010,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2010&cid=1606430">第六百五十三章 一碗刀削面</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2006.html"><img src="http://www.wb18.net/files/article/image/2/2006/2006s.jpg" alt="我从凡间来" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2006.html">我从凡间来</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=想见江南/" target="_blank" rel="nofollow">想见江南/</a></span>状态：<span>连载中</span>大小：<span>6080K</span></dd>
                <dd class="book_des">
                    天行健，君子以自强不息！
                    以身为船，以武为帆，承载不屈之灵魂，驰往永生之彼岸。
                    这是个“能以精诚致魂魄”的故事。。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2006" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2006,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2006&cid=1604992">一百六十二章 诱敌</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1994.html"><img src="http://www.wb18.net/files/article/image/1/1994/1994s.jpg" alt="大逆之门" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1994.html">大逆之门</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=知白/" target="_blank" rel="nofollow">知白/</a></span>状态：<span>连载中</span>大小：<span>387K</span></dd>
                <dd class="book_des">    让每一个心怀善念的人过最土豪的日子，再把每一个心怀恶念的人送进地狱。法到底是约束好人还是坏人？尊法的人为什么反而处处受制？开一扇门，逆世道而行。以大凶之手段行大善之事… <a href="http://www.wb18.net/modules/article/reader.php?aid=1994" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1994,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1994&cid=1599390">第四十九章 谢谢和不客气</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1992.html"><img src="http://www.wb18.net/files/article/image/1/1992/1992s.jpg" alt="最强狂兵" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1992.html">最强狂兵</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=烈焰滔滔/" target="_blank" rel="nofollow">烈焰滔滔/</a></span>状态：<span>连载中</span>大小：<span>193K</span></dd>
                <dd class="book_des">    一代兵王含恨离开部队，销声匿迹几年后，逆天强者强势回归都市，再度掀起血雨腥风！简单粗暴是我的行事艺术，不服就干是我的生活态度！看顶级狂少如何纵横都市，书写属于他的天王… <a href="http://www.wb18.net/modules/article/reader.php?aid=1992" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1992,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1992&cid=1599331">第025章 早晨来一场小清新</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1991.html"><img src="http://www.wb18.net/files/article/image/1/1991/1991s.jpg" alt="刀镇星河" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1991.html">刀镇星河</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=开荒/" target="_blank" rel="nofollow">开荒/</a></span>状态：<span>连载中</span>大小：<span>955K</span></dd>
                <dd class="book_des">
                    三年之后，战死广林山的上官玄昊，以应试弟子张信的身份，再次踏入了日月玄宗的天柱山别院，开始了他刀戡日月，剑削星河之路！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1991" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1991,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1991&cid=1599305">第一百七八章 太乙紫莲</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1977.html"><img src="http://www.wb18.net/files/article/image/1/1977/1977s.jpg" alt="主神再现" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1977.html">主神再现</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=横空/" target="_blank" rel="nofollow">横空/</a></span>状态：<span style="color:red">已完成</span>大小：<span>440K</span></dd>
                <dd class="book_des">    一个凡间的大学生，竟是异界主神的转世！本想仗剑天涯，却不想背负了一统异界的大任，熟知最后竟然是一统异界的美女！异界的混战中不乏有上古魔神，西方魔法师，现代的高科技等等… <a href="http://www.wb18.net/modules/article/reader.php?aid=1977" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1977,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1977&cid=1597458">第七十七章 大战东瀛武士</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1982.html"><img src="http://www.wb18.net/files/article/image/1/1982/1982s.jpg" alt="超级成长" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1982.html">超级成长</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=天生小人物/" target="_blank" rel="nofollow">天生小人物/</a></span>状态：<span style="color:red">已完成</span>大小：<span>538K</span></dd>
                <dd class="book_des">
                    小说作者：天生小人物
                    要我学礼仪、美容、服装？好吧，为了成为白马王子，忍了…… 　　要学太极、截拳道、空手道跆拳道？好吧，为了英雄救美，忍了…… 　　要我学管理、经商… <a href="http://www.wb18.net/modules/article/reader.php?aid=1982" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1982,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1982&cid=1597427">第一百章 【赌】</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1980.html"><img src="http://www.wb18.net/files/article/image/1/1980/1980s.jpg" alt="混乱战神" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1980.html">混乱战神</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=撞破南墙/" target="_blank" rel="nofollow">撞破南墙/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2486K</span></dd>
                <dd class="book_des">
                    做弱者，多不得好活
                    做强者，多不得好死
                    所谓命运，就是在不得好活与不得好死之间
                    做一个选择
                    一个在现代所存在的少数修真者之一，在一次不幸的事故中，他的肉体… <a href="http://www.wb18.net/modules/article/reader.php?aid=1980" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1980,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1980&cid=1597018">第三二八章 驯兽师</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1975.html"><img src="http://www.wb18.net/files/article/image/1/1975/1975s.jpg" alt="通天武皇" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1975.html">通天武皇</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=寂小贼/" target="_blank" rel="nofollow">寂小贼/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2671K</span></dd>
                <dd class="book_des">
                    千锤百炼的肉身！
                    能使自己身体化为虚影无视任何伤害的天赋！
                    体内有着上古遗留下来的神秘通天珠！
                    少年卓羽狩猎时，意外与通天灵珠融合，得上古神剑传承，获功法秘宝… <a href="http://www.wb18.net/modules/article/reader.php?aid=1975" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1975,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1975&cid=1596326">第388章 武求</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1973.html"><img src="http://www.wb18.net/files/article/image/1/1973/1973s.jpg" alt="混世小农民" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1973.html">混世小农民</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=小农民/" target="_blank" rel="nofollow">小农民/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1386K</span></dd>
                <dd class="book_des">
                    【已完本】
                    小小农民命犯桃花，气运十足，在众多美女环绕下，踏入官场，步步高升……
                    吊儿郎当的农村孤儿马小乐，虽然初中没毕业，但是头脑很灵光，凭着灵活的钻营，他在… <a href="http://www.wb18.net/modules/article/reader.php?aid=1973" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1973,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1973&cid=1595457">【254】 两对对</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1972.html"><img src="http://www.wb18.net/files/article/image/1/1972/1972s.jpg" alt="星御" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1972.html">星御</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=七月火/" target="_blank" rel="nofollow">七月火/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4198K</span></dd>
                <dd class="book_des">
                    我所求者，不过这天、这地、这璀璨星空，再无一物能主宰我命！
                    ??凌峰                  
                    新书已上传，书名《武碎天辰》，麻… <a href="http://www.wb18.net/modules/article/reader.php?aid=1972" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1972,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1972&cid=1595438">新书已上传，书名《武碎天辰》</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1965.html"><img src="http://www.wb18.net/files/article/image/1/1965/1965s.jpg" alt="异世之东方黑龙" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1965.html">异世之东方黑龙</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=瞑黯/" target="_blank" rel="nofollow">瞑黯/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2296K</span></dd>
                <dd class="book_des">
                    师傅：魏炀啊，为师希望你能成为世上最伟大的神龙
                    魏炀：是的，尊敬的师傅
                    师傅：不过在此之前你要变成和我一样的杂种黑鲤鱼
                    魏炀：不……
                    ……
                    黑暗龙神：孙… <a href="http://www.wb18.net/modules/article/reader.php?aid=1965" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1965,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1965&cid=1593105">新书《超级魂装》</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1966.html"><img src="http://www.wb18.net/files/article/image/1/1966/1966s.jpg" alt="图腾" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1966.html">图腾</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=油炸包子/" target="_blank" rel="nofollow">油炸包子/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2016K</span></dd>
                <dd class="book_des">
                    这是一个图腾的世界。
                    在这里，人们相信力量来自于自然万物：火焰，岩石，鼻涕兽，狼，十二翼金睛巨龙王，乃至于人类本身……只要是自然现象，就可以与之沟通，然后召唤为自己… <a href="http://www.wb18.net/modules/article/reader.php?aid=1966" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1966,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1966&cid=1593084">新书《荣耀魔徒》书号2134626</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1964.html"><img src="http://www.wb18.net/files/article/image/1/1964/1964s.jpg" alt="极品空间" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1964.html">极品空间</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=烂笔小秀才/" target="_blank" rel="nofollow">烂笔小秀才/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2331K</span></dd>
                <dd class="book_des">
                    他醒来后，发觉自己拥有了一个极品空间，这极品空间来自未来，集结了全世界各领域的顶尖人才的优点。
                    新书已发，书名《玄皇》书号1969916
                    本书书群：112606792（已满）
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1964" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1964,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1964&cid=1592685">新书发啦</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1961.html"><img src="http://www.wb18.net/files/article/image/1/1961/1961s.jpg" alt="气冲星河" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1961.html">气冲星河</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=犁天/" target="_blank" rel="nofollow">犁天/</a></span>状态：<span style="color:red">已完成</span>大小：<span>7568K</span></dd>
                <dd class="book_des">
                    中国古武界史上最年轻的大宗师武星河,重生在异世界一个下等贵族少年身上。再次开启他武道追求的颠峰之路.
                    不依阿权贵，不妥协豪门,哪怕你火海焚身，自有两只铁拳打出一片清朗… <a href="http://www.wb18.net/modules/article/reader.php?aid=1961" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1961,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1961&cid=1591502">结局感谢，以及新书发布！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1959.html"><img src="http://www.wb18.net/files/article/image/1/1959/1959s.jpg" alt="奉旨重生" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1959.html">奉旨重生</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=冰川王子/" target="_blank" rel="nofollow">冰川王子/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1314K</span></dd>
                <dd class="book_des">    花心的萧逸天因为不遵守洞房前对老婆许下的誓言，结果被玉帝逮住，差点儿挂掉。好不容易说动玉帝获得了重生的机会，条件是风风光光的为玉帝过一次生日！学会了玉帝看家神功的萧逸… <a href="http://www.wb18.net/modules/article/reader.php?aid=1959" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1959,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1959&cid=1589418">【完本小结】求票求收藏！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1952.html"><img src="http://www.wb18.net/files/article/image/1/1952/1952s.jpg" alt="异武星尊" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1952.html">异武星尊</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=情殇孤月/" target="_blank" rel="nofollow">情殇孤月/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3820K</span></dd>
                <dd class="book_des">    天道神秘莫测，隐于四万八千星辰之中运转。顺从天道如蝼蚁傀儡，令之摆布，违抗天道如刀山火海，九死一生。英雄不惧死，惧生不逢时，死不得所。谁能逆天改命，才是这茫茫星域真正… <a href="http://www.wb18.net/modules/article/reader.php?aid=1952" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1952,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1952&cid=1585717">大结局：后会有期</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1465.html"><img src="http://www.wb18.net/files/article/image/1/1465/1465s.jpg" alt="青帝（Deathstate）" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1465.html">青帝（Deathstate）</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=Deathstate/" target="_blank" rel="nofollow">Deathstate/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4931K</span></dd>
                <dd class="book_des">
                    人道崩坏，仙界无踪。
                    天生贵胄，沦为草芥。
                    九州破碎，杀劫缠身
                    已完本近五百万字作品《湛蓝徽章》信誉保证，放心收藏。
                    官方群【一】青帝宫：172360217（后宫群… <a href="http://www.wb18.net/modules/article/reader.php?aid=1465" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1465,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1465&cid=1582974">第六百七十七章 ：混沌之环?终章</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1941.html"><img src="http://www.wb18.net/files/article/image/1/1941/1941s.jpg" alt="掌御天下" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1941.html">掌御天下</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=孤单地飞/" target="_blank" rel="nofollow">孤单地飞/</a></span>状态：<span style="color:red">已完成</span>大小：<span>632K</span></dd>
                <dd class="book_des">
                    资质平平的任怀宇机缘巧合，获得了一条逆天神尾！神尾可以吸取天地元气，大幅提升修炼速度，而且还能够抽取世间精华不断增强！
                    神尾无形，可杀人、可夺物，妙用无穷，为任怀宇… <a href="http://www.wb18.net/modules/article/reader.php?aid=1941" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1941,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1941&cid=1579291">第八十七章 新的征途</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1939.html"><img src="http://www.wb18.net/files/article/image/1/1939/1939s.jpg" alt="我的异界特种部队" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1939.html">我的异界特种部队</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=米老虎/" target="_blank" rel="nofollow">米老虎/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2588K</span></dd>
                <dd class="book_des">
                    一个当兵不满两年的特种兵在军事演习结束单独行动时被卷入一个自然产生的空间转移，在不知不觉间来到了一个奇异的世界。
                    ??????????????????????????
                    新书《异界之灵途》… <a href="http://www.wb18.net/modules/article/reader.php?aid=1939" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1939,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1939&cid=1579104">第四百零七章 合金战争（大结局）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1936.html"><img src="http://www.wb18.net/files/article/image/1/1936/1936s.jpg" alt="异世邪君" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1936.html">异世邪君</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=风凌天下/" target="_blank" rel="nofollow">风凌天下/</a></span>状态：<span style="color:red">已完成</span>大小：<span>9301K</span></dd>
                <dd class="book_des">
                    世间毁誉，世人冷眼，与我何干？我自淡然一笑；
                    以吾本性，快意恩仇，以吾本心，遨游世间，我命由我不由天！
                    一代牛人穿越异界，看其如何踏上异世巅峰，成为一代邪君！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1936" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1936,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1936&cid=1579036">新书开了，傲世九重天！请兄弟姐妹们支持！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1938.html"><img src="http://www.wb18.net/files/article/image/1/1938/1938s.jpg" alt="斗神" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1938.html">斗神</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=失落叶/" target="_blank" rel="nofollow">失落叶/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2311K</span></dd>
                <dd class="book_des">    【震撼好消息，限时免费开始啦！3月13日到3月15日，《斗神》全部免费！】　　【2011年失落叶玄幻新作，倾力打造经典传奇！】　　??????????????????????　　妙人轩窗，宣纸青墨残… <a href="http://www.wb18.net/modules/article/reader.php?aid=1938" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1938,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1938&cid=1578503">第三百九十三章 大结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1937.html"><img src="http://www.wb18.net/files/article/image/1/1937/1937s.jpg" alt="最强武皇" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1937.html">最强武皇</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=一曲东风/" target="_blank" rel="nofollow">一曲东风/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5326K</span></dd>
                <dd class="book_des">    小混混白羽巧遇神棍老和尚，偶然习得神界流传的上古奇功，专修灵魂的《大愿心经》，似乎冥冥中自有安排，白羽穿越到了以修炼为主流的神州大陆，成为了一名不折不扣的废物少爷，然… <a href="http://www.wb18.net/modules/article/reader.php?aid=1937" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1937,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1937&cid=1577858">完本感言</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1933.html"><img src="http://www.wb18.net/files/article/image/1/1933/1933s.jpg" alt="罗浮" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1933.html">罗浮</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=无罪/" target="_blank" rel="nofollow">无罪/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5387K</span></dd>
                <dd class="book_des">
                    看似平静的修道界中，却隐藏着数百年气运转化的危机。
                    一名懵懂的山野少年，遭遇了一个代代一脉相传的神秘门派，无意中却卷动了天下风云。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1933" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1933,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1933&cid=1574893">结束感言</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1339.html"><img src="http://www.wb18.net/files/article/image/1/1339/1339s.jpg" alt="武破九霄" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1339.html">武破九霄</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=苍笑天/" target="_blank" rel="nofollow">苍笑天/</a></span>状态：<span style="color:red">已完成</span>大小：<span>16316K</span></dd>
                <dd class="book_des">    静坐江湖风又起，千古王侯再争雄。    这是一个乱世，一个诸侯并起的时代    武者路上尸山血海，爱恨情仇，在这条白骨森森的路上，谁能走到尽头？    诡异的杀局，缠绵的爱恨情仇… <a href="http://www.wb18.net/modules/article/reader.php?aid=1339" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1339,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1339&cid=1573555">完本感言！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1167.html"><img src="http://www.wb18.net/modules/article/images/nocover.jpg" alt="神卡" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1167.html">神卡</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=资产暴增/" target="_blank" rel="nofollow">资产暴增/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4430K</span></dd>
                <dd class="book_des">
                    这是一个魔法与斗气，拥有许多种族在各族神灵之下，为了争夺信仰之力的大陆。屈居与这等级森严的世界最底层的赵锋，获得了一张名为萨托雷斯1号的神卡之后，开始了他的梦幻人生。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1167" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1167,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1167&cid=1569727">第六百六十三章 统一原界，镇压诸族！（大结局！）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1164.html"><img src="http://www.wb18.net/modules/article/images/nocover.jpg" alt="天目" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1164.html">天目</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=弥煞/" target="_blank" rel="nofollow">弥煞/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4666K</span></dd>
                <dd class="book_des">
                    这是一个属于强者的世界。
                    在这里，有着只手便可毁天灭地的存在，追星赶月，逐鹿四方。
                    某年某月的某一天，来自地球的少年陈铭来到了这个世界，开始了他充满传奇色彩的一… <a href="http://www.wb18.net/modules/article/reader.php?aid=1164" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1164,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1164&cid=1566454">完本感言</a></dd>
            </dl>
            <div class="clearfix"></div>
        </div>
        <div class="all_ad mtop"><span id="ad_980_2"></span></div>
    </div>
    <div class="bottoma">
        <script>bottoma();</script>
    </div>
</body>
</html>