@{
    ViewBag.Title = "GameBook";
}
<html>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="list_center">
        <div class="update_title">
            <span class="update_icon">游戏竞技·小说列表</span>
        </div>
        <div id="sitebox">

            <dl>
                <dt><a href="http://www.wb18.net/book/2021.html"><img src="http://www.wb18.net/files/article/image/2/2021/2021s.jpg" alt="星空下的舰娘" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2021.html">星空下的舰娘</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=言溪若尘/" target="_blank" rel="nofollow">言溪若尘/</a></span>状态：<span>连载中</span>大小：<span>4628K</span></dd>
                <dd class="book_des">
                    一个耸立于乞力马扎罗峰的非提穿越到了陌生的世界。
                    对于一个非提来说，最危险的不是面对无穷无尽的深海怪兽，而是要忍住将无脑晒船的欧提穿在长矛上的欲望
                    &amp;amp;quot;嘿~… <a href="http://www.wb18.net/modules/article/reader.php?aid=2021" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2021,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2021&cid=1616764">第909章 异动</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1999.html"><img src="http://www.wb18.net/files/article/image/1/1999/1999s.jpg" alt="网游之混元法师" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1999.html">网游之混元法师</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=续写青春/" target="_blank" rel="nofollow">续写青春/</a></span>状态：<span>连载中</span>大小：<span>1306K</span></dd>
                <dd class="book_des">
                    在你看见我的时候你就已经死了！
                    一个清秀的男子认真的对着自己的敌人说道。
                    在这个群雄割据，高手如云的游戏世界里！
                    且看古武高手如何将法师这个职业玩到极限，叱咤… <a href="http://www.wb18.net/modules/article/reader.php?aid=1999" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1999,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1999&cid=1599993">第二百五十七章 神魔墓地（8）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1979.html"><img src="http://www.wb18.net/files/article/image/1/1979/1979s.jpg" alt="网游之盗版神话" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1979.html">网游之盗版神话</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=失落叶/" target="_blank" rel="nofollow">失落叶/</a></span>状态：<span style="color:red">已完成</span>大小：<span>405K</span></dd>
                <dd class="book_des">
                    【简介】
                    他说他是魔兽天王，MM们摇头不信；他说他没碰过其他女人，MM们依然不信，他说他伏杀了无数高手，还偷看过别人的老婆洗澡，MM们信了：你这个天杀的老贼！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1979" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1979,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1979&cid=1598239">第98章这家伙疯了！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1960.html"><img src="http://www.wb18.net/files/article/image/1/1960/1960s.jpg" alt="重生1994之足坛风云Ⅱ" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1960.html">重生1994之足坛风云Ⅱ</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=郭怒/" target="_blank" rel="nofollow">郭怒/</a></span>状态：<span style="color:red">已完成</span>大小：<span>7039K</span></dd>
                <dd class="book_des">
                    穿越了当然是一件不错的事情，因为如果你混得不好，你可以有一个改变自己命运的机会，混得好的话也能有一个弥补遗憾的机会，可是如果穿越之前和穿越之后的差距非常大呢？
                    大到… <a href="http://www.wb18.net/modules/article/reader.php?aid=1960" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1960,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1960&cid=1591315">新书上传，绿茵彗星，请求支持！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1662.html"><img src="http://www.wb18.net/files/article/image/1/1662/1662s.jpg" alt="超级盗贼" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1662.html">超级盗贼</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=不是浮云/" target="_blank" rel="nofollow">不是浮云/</a></span>状态：<span style="color:red">已完成</span>大小：<span>7082K</span></dd>
                <dd class="book_des">
                    新书《网游植物师》火热开更，欢迎围观！
                    _____________
                    这是一个开放性极强的游戏世界，力量系法师，体质系牧师，智慧系魔弓手，再加上各种各样希奇古怪的自由技能，相同… <a href="http://www.wb18.net/modules/article/reader.php?aid=1662" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1662,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1662&cid=1584719">第3卷 感谢您的支持</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1907.html"><img src="http://www.wb18.net/files/article/image/1/1907/1907s.jpg" alt="英雄无敌之血尊" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1907.html">英雄无敌之血尊</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=太平洋的一只虫/" target="_blank" rel="nofollow">太平洋的一只虫/</a></span>状态：<span style="color:red">已完成</span>大小：<span>964K</span></dd>
                <dd class="book_des">
                    我只想给大家带来一部很&quot;爽&quot;的“英雄无敌”
                    以下是内容介绍:
                    一个孤儿
                    带着一大群超阶强者
                    横扫天下
                    让血魔之名令神都颤抖
                    以血为引,我为至尊(现实中)
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1907" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1907,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1907&cid=1551098">诚挚道歉</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1899.html"><img src="http://www.wb18.net/files/article/image/1/1899/1899s.jpg" alt="网游之一枪爆头" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1899.html">网游之一枪爆头</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=夜色访者/" target="_blank" rel="nofollow">夜色访者/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3251K</span></dd>
                <dd class="book_des">
                    我的名字叫做雷惊天，
                    无论是在现实还是游戏中，别人都喜欢叫我老虎；
                    我的职业是狙击手，
                    无论是在游戏亦或是现实中都一样；
                    我最喜欢抚摸爱人嫩滑肌肤以及冰凉… <a href="http://www.wb18.net/modules/article/reader.php?aid=1899" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1899,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1899&cid=1546299">新书发布，求点击、推荐、收藏支持！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1897.html"><img src="http://www.wb18.net/files/article/image/1/1897/1897s.jpg" alt="位面武侠神话" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1897.html">位面武侠神话</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=望天邀明月/" target="_blank" rel="nofollow">望天邀明月/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4833K</span></dd>
                <dd class="book_des">
                    武侠迷玩游戏穿越来到真正的武侠世界，还没来得及高兴，却悲催的发现自己的家传武学竟然是名震天下的辟邪剑法！莫非他就是传说中的小林子的原形？！
                    他犹豫了，练？还是不练？… <a href="http://www.wb18.net/modules/article/reader.php?aid=1897" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1897,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1897&cid=1544989">后记及新书</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1888.html"><img src="http://www.wb18.net/files/article/image/1/1888/1888s.jpg" alt="逆天作弊器之超级项链" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1888.html">逆天作弊器之超级项链</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=我是超级笨笨猪/" target="_blank" rel="nofollow">我是超级笨笨猪/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3162K</span></dd>
                <dd class="book_des">
                    “兄弟，疗个伤都这么长时间，不就是断了条胳膊么？这颗天阶丹  逆天作弊器之超级项链
                    药怎么样？只要五万金币！” 　　~~ 　　“你，就说你，看什么看？遇到个瓶颈你就坐在那… <a href="http://www.wb18.net/modules/article/reader.php?aid=1888" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1888,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1888&cid=1539721">新书??《圣武修神》</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1872.html"><img src="http://www.wb18.net/files/article/image/1/1872/1872s.jpg" alt="钢铁躯壳" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1872.html">钢铁躯壳</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=疯狂伊凡/" target="_blank" rel="nofollow">疯狂伊凡/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4217K</span></dd>
                <dd class="book_des">
                    他是恶魔的代理人！
                    他是主神座下最勇猛的战士！
                    他被誉为地狱的圣贤，他被称作神界的魔鬼！
                    他用一面坚盾，砸出了一个属于自己的世界！
                    【建了一个书友群，有兴… <a href="http://www.wb18.net/modules/article/reader.php?aid=1872" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1872,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1872&cid=1529227">第541章 未知的未来（大结局）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1870.html"><img src="http://www.wb18.net/files/article/image/1/1870/1870s.jpg" alt="SC之彼岸花" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1870.html">SC之彼岸花</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=无罪/" target="_blank" rel="nofollow">无罪/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2122K</span></dd>
                <dd class="book_des">    《SC之彼岸花》是一本以电子竞技项目《星际争霸》为主要题材的小说，描绘了一大批性格各异的星际高手和一场场异彩纷呈的对局。本书的主人公名叫王绯雨，是玩神族的选手（其实他是… <a href="http://www.wb18.net/modules/article/reader.php?aid=1870" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1870,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1870&cid=1528060">第三百二十章 大结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1860.html"><img src="http://www.wb18.net/files/article/image/1/1860/1860s.jpg" alt="魔兽真三之神级小兵" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1860.html">魔兽真三之神级小兵</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=昨夜悠悠/" target="_blank" rel="nofollow">昨夜悠悠/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2439K</span></dd>
                <dd class="book_des">
                    去看看新书吧。。《重生之猛兽天下》已经17万字。。昨夜我重写游戏，设定与魔兽差不多，希望支持过神级小兵的都去支持支持。。下面有连接~~记得收藏推荐签到哦~~
                    犹记当年共同… <a href="http://www.wb18.net/modules/article/reader.php?aid=1860" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1860,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1860&cid=1522270">0224：尾声</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1853.html"><img src="http://www.wb18.net/files/article/image/1/1853/1853s.jpg" alt="网游之数据为王" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1853.html">网游之数据为王</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=风刀霜剑/" target="_blank" rel="nofollow">风刀霜剑/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2837K</span></dd>
                <dd class="book_des">
                    一副融合进眼球的隐形眼镜，让余枫得到了一个神奇的能力。
                    只要他愿意，在他的眼中，游戏中的一个个NPC、一个个的玩家、一只只的怪物，一切都能看成一堆堆二进制数据。游戏库… <a href="http://www.wb18.net/modules/article/reader.php?aid=1853" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1853,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1853&cid=1518765">第三百五十五章 不是结局的结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1826.html"><img src="http://www.wb18.net/files/article/image/1/1826/1826s.jpg" alt="网游之金庸奇侠传" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1826.html">网游之金庸奇侠传</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=云天明/" target="_blank" rel="nofollow">云天明/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8261K</span></dd>
                <dd class="book_des">    一名普通的玩家，为了学成天下无敌的终极武功，在选择属性时甘愿成为了一名资质平庸的武学废材，且看他如何顺利走出新手第一步，如何在江湖上立足，如何达到学习终极武功的各项苛… <a href="http://www.wb18.net/modules/article/reader.php?aid=1826" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1826,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1826&cid=1504109">第一千零四十二章论道，道成！（大结局）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1822.html"><img src="http://www.wb18.net/files/article/image/1/1822/1822s.jpg" alt="网游之重现神话" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1822.html">网游之重现神话</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=绛紫色/" target="_blank" rel="nofollow">绛紫色/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4271K</span></dd>
                <dd class="book_des">
                    宿夜，普普通通的职业玩家，花了10年偿还了巨额债务。
                    有一天，当他再一次睁开眼睛的时候，发突然现，他莫名其妙的回到了10年前，天下集团第四款网络游戏革命时期??《神话》刚… <a href="http://www.wb18.net/modules/article/reader.php?aid=1822" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1822,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1822&cid=1501747">第003章(求推荐、收藏)(修)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1821.html"><img src="http://www.wb18.net/files/article/image/1/1821/1821s.jpg" alt="天下之弱者的反击" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1821.html">天下之弱者的反击</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=流浪的风/" target="_blank" rel="nofollow">流浪的风/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6180K</span></dd>
                <dd class="book_des">    红尘滚滚，人世无情，这是一个优胜劣汰、弱肉强食的社会，而出身的不平等在极大的程度上决定了人生的道路，强者横行，弱者受欺，有人逆来顺受，有人奋起抗争，现实残酷，虚拟可行… <a href="http://www.wb18.net/modules/article/reader.php?aid=1821" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1821,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1821&cid=1500300">第六卷 逐鹿天下 第六百四十八章 终结</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1814.html"><img src="http://www.wb18.net/files/article/image/1/1814/1814s.jpg" alt="法师传奇" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1814.html">法师传奇</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=麻烦/" target="_blank" rel="nofollow">麻烦/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5218K</span></dd>
                <dd class="book_des">
                    [传奇剧情小说征集大赛第二期第一名]
                    [传奇剧情小说征集大赛第三期夺魁]
                    *
                    没有穿越，也不重生，既不是传统的网游争霸，也不是无敌的游戏高手，没有数不清的白痴美女… <a href="http://www.wb18.net/modules/article/reader.php?aid=1814" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1814,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1814&cid=1494572">南宫篇 公测前夕</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1810.html"><img src="http://www.wb18.net/files/article/image/1/1810/1810s.jpg" alt="龙噬天下" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1810.html">龙噬天下</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=网络黑侠/" target="_blank" rel="nofollow">网络黑侠/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3674K</span></dd>
                <dd class="book_des">
                    一名刚考入QH大学的失意少年
                    在失恋的打击下，拜师学武
                    碰到未来的小舅子
                    在这个小舅子的蛊惑下，一起进入《龙噬天下》这款虚拟的网络游戏，成为内测成员之一
                    然… <a href="http://www.wb18.net/modules/article/reader.php?aid=1810" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1810,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1810&cid=1492449">新书上传《全球论剑》</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1799.html"><img src="http://www.wb18.net/files/article/image/1/1799/1799s.jpg" alt="游戏小工之元素操控师" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1799.html">游戏小工之元素操控师</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=网络黑侠/" target="_blank" rel="nofollow">网络黑侠/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1855K</span></dd>
                <dd class="book_des">
                    冰魔出巡
                    彻骨之寒是为冰；人间极致曰为魔。
                    寒自众神墓地出；魔亦地下城中巡。
                    冥界鬼哭亡灵惊；雷音之谷龙皇动。
                    亘古神魔问苍天；怒血染红无名地。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1799" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1799,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1799&cid=1481055">新书上传《全球论剑》</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1795.html"><img src="http://www.wb18.net/files/article/image/1/1795/1795s.jpg" alt="重生之盾御苍穹" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1795.html">重生之盾御苍穹</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=半步沧桑/" target="_blank" rel="nofollow">半步沧桑/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3657K</span></dd>
                <dd class="book_des">    一款划时代的网游《苍穹》；一名如冬日薄冰般脆弱的天才；一段在俗世中苦苦求存、暗淡无光的岁月；一场意外，当二十年后的灵魂与今生的躯壳重叠；铸就??一个帝国壁垒的传说………… <a href="http://www.wb18.net/modules/article/reader.php?aid=1795" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1795,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1795&cid=1479621">番外篇?飘雪</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1789.html"><img src="http://www.wb18.net/files/article/image/1/1789/1789s.jpg" alt="篮坛天王" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1789.html">篮坛天王</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=梵辰/" target="_blank" rel="nofollow">梵辰/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4484K</span></dd>
                <dd class="book_des">
                    猛龙过江！篮坛天王！
                    ??????????????
                    梵辰新书《星尘武道》已经上传，书号是2303658。
                    尝试玄幻风，每个类别都尝试尝试，还请大家支持。
                    这是一个以浩大星辰之力… <a href="http://www.wb18.net/modules/article/reader.php?aid=1789" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1789,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1789&cid=1475629">大结局【附后记】</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1754.html"><img src="http://www.wb18.net/files/article/image/1/1754/1754s.jpg" alt="重生之野蛮盗贼" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-05</span><a href="http://www.wb18.net/book/1754.html">重生之野蛮盗贼</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=书道难/" target="_blank" rel="nofollow">书道难/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4120K</span></dd>
                <dd class="book_des">    一个21世纪的雇佣兵王，死亡了之后穿越重生到了23世纪末的一个少年身上。家境的贫寒，外界的逼迫，让他一步步再次走向强者之路。无数极品装备和专有宠物，战火纷飞，无怨无悔的兄… <a href="http://www.wb18.net/modules/article/reader.php?aid=1754" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1754,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1754&cid=1450186">616 全书终</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1717.html"><img src="http://www.wb18.net/files/article/image/1/1717/1717s.jpg" alt="最强作死系统" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-03</span><a href="http://www.wb18.net/book/1717.html">最强作死系统</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=念破虚空/" target="_blank" rel="nofollow">念破虚空/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1703K</span></dd>
                <dd class="book_des">
                    想要得到多少就要付出多少，从来没有不劳而获达到巅峰的。
                    不作死真的不会死
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1717" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1717,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1717&cid=1425652">第二百八十章 六千字大结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1702.html"><img src="http://www.wb18.net/files/article/image/1/1702/1702s.jpg" alt="足球之谁是王者" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-03</span><a href="http://www.wb18.net/book/1702.html">足球之谁是王者</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=风再起时/" target="_blank" rel="nofollow">风再起时/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4054K</span></dd>
                <dd class="book_des">
                    无尽的流水，在眼睑的睁合间年华已逝。夏风拂过衣袂，花朵轻轻吟唱。回眸中绝对的宁静，雪白的纯洁，微微张扬。万物生灵，浅浅的关怀，都是快乐的理由。
                    梦一般的草地上，没有… <a href="http://www.wb18.net/modules/article/reader.php?aid=1702" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1702,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1702&cid=1417826">第三百六十六章 大结局(烂尾)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1701.html"><img src="http://www.wb18.net/files/article/image/1/1701/1701s.jpg" alt="终极牧师" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-03</span><a href="http://www.wb18.net/book/1701.html">终极牧师</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=夏小白/" target="_blank" rel="nofollow">夏小白/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3051K</span></dd>
                <dd class="book_des">
                    牧师，高尚而圣洁的象征。
                    当战士在前方与敌人战斗之时，牧师，是他们最坚强的后盾，无论是最有效的治疗、还是吟唱战歌为勇士们状态加持，一队拥有高级牧师的团队，永远是最强… <a href="http://www.wb18.net/modules/article/reader.php?aid=1701" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1701,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1701&cid=1416485">*** 阡陌也不玩了</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1690.html"><img src="http://www.wb18.net/files/article/image/1/1690/1690s.jpg" alt="高手寂寞" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-02</span><a href="http://www.wb18.net/book/1690.html">高手寂寞</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=兰帝魅晨/" target="_blank" rel="nofollow">兰帝魅晨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2618K</span></dd>
                <dd class="book_des">
                    其实，高手有一颗寂寞的心，因为高手的造就本就是用寂寞堆积而成。
                    想快乐，想精彩，想无虑，就别当高手。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1690" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1690,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1690&cid=1410728">神话部吹沙第九到十四节终结是另一个新的开始二到七(最终结局篇)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1686.html"><img src="http://www.wb18.net/files/article/image/1/1686/1686s.jpg" alt="绿茵教父" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-02</span><a href="http://www.wb18.net/book/1686.html">绿茵教父</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=陈爱庭/" target="_blank" rel="nofollow">陈爱庭/</a></span>状态：<span style="color:red">已完成</span>大小：<span>9602K</span></dd>
                <dd class="book_des">
                    那一年，意甲七姐妹如日中天，德甲豪强傲视群雄，西甲高唱黑马当道，英超遭遇红魔霸权。
                    那一年，巴塞罗那持续动荡，皇马迎来世纪变革，曼联迎来创造历史的巅峰，拜仁横扫欧罗… <a href="http://www.wb18.net/modules/article/reader.php?aid=1686" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1686,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1686&cid=1409673">最终章 今夜之后，再无传奇！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1665.html"><img src="http://www.wb18.net/files/article/image/1/1665/1665s.jpg" alt="重生之贼行天下" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-01</span><a href="http://www.wb18.net/book/1665.html">重生之贼行天下</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=发飙的蜗牛/" target="_blank" rel="nofollow">发飙的蜗牛/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1359K</span></dd>
                <dd class="book_des">
                    孤寂的行者，
                    追逐阴影的脚步，
                    这是盗贼的赞歌。
                    带着一个一百八十级的大盗贼的记忆，回到了十年前，命运给聂言开了一个玩笑。
                    曾经错过的、被夺走的，都要重新… <a href="http://www.wb18.net/modules/article/reader.php?aid=1665" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1665,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1665&cid=1393325">第二零八章 攻守同盟</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1639.html"><img src="http://www.wb18.net/files/article/image/1/1639/1639s.jpg" alt="赛场风云" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-01</span><a href="http://www.wb18.net/book/1639.html">赛场风云</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=happysnake/" target="_blank" rel="nofollow">happysnake/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1815K</span></dd>
                <dd class="book_des">    中国能出“飞人”吗？&amp;lt；br&amp;gt；中国能出“超人”吗？&amp;lt；br&amp;gt；能……！中国大地上有的是奇才。&amp;lt；br&amp;gt；且看一个从深山中走出来的天才少年,他将用他的坚强和努力带给中国体育怎… <a href="http://www.wb18.net/modules/article/reader.php?aid=1639" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1639,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1639&cid=1380809">正文第304章 崛起（完）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1631.html"><img src="http://www.wb18.net/files/article/image/1/1631/1631s.jpg" alt="流氓高手" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-05-31</span><a href="http://www.wb18.net/book/1631.html">流氓高手</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=无罪/" target="_blank" rel="nofollow">无罪/</a></span>状态：<span style="color:red">已完成</span>大小：<span>31K</span></dd>
                <dd class="book_des">
                    一个混迹于大学的不是流氓的流氓，在极度猥琐的情况下，和两个美女发生了一段不得不说的故事。
                    老无的故事里，没有公主与童话的爱情故事，但有着与众不同的风花雪月。平凡人的… <a href="http://www.wb18.net/modules/article/reader.php?aid=1631" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1631,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1631&cid=1375626">第三百六十八章 大结局</a></dd>
            </dl>

            <div class="clearfix"></div>
        </div>
        <div class="all_ad mtop"><span id="ad_980_2"></span></div>
    </div>
</body>
</html>
