@{
    ViewBag.Title = "HistoryBook";
}
<html>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="list_center">
        <div class="update_title">
            <span class="update_icon">历史军事·小说列表</span>
        </div>
        <div id="sitebox">

            <dl>
                <dt><a href="http://www.wb18.net/book/2000.html"><img src="http://www.wb18.net/files/article/image/2/2000/2000s.jpg" alt="汉祚高门" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-19</span><a href="http://www.wb18.net/book/2000.html">汉祚高门</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=衣冠正伦/" target="_blank" rel="nofollow">衣冠正伦/</a></span>状态：<span>连载中</span>大小：<span>1935K</span></dd>
                <dd class="book_des">
                    沈哲子来到东晋初年，化身江南豪宗之子，良田万亩，家财万贯，仆役成群，起点罕见之高配穿越，可惜老爹是个造反惯犯。
                    衣冠南渡，五胡乱华，华夏之哀曲，汉祚之悲歌。
                    世… <a href="http://www.wb18.net/modules/article/reader.php?aid=2000" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2000,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2000&cid=1662780">0277 朝议反迹</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2061.html"><img src="http://www.wb18.net/files/article/image/2/2061/2061s.jpg" alt="汉末天子" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-19</span><a href="http://www.wb18.net/book/2061.html">汉末天子</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=王不过霸/" target="_blank" rel="nofollow">王不过霸/</a></span>状态：<span>连载中</span>大小：<span>1811K</span></dd>
                <dd class="book_des">    时空穿梭，魂回汉末，一觉醒来成了皇帝，这个可以有，只是这皇帝的处境貌似跟说好的不太一样，外有诸侯裂土封疆，山河破碎，内有乱臣胁迫，不得自由，刘协表示压力很大，为了改变… <a href="http://www.wb18.net/modules/article/reader.php?aid=2061" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2061,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2061&cid=1661242">第五十三章 功与过</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2014.html"><img src="http://www.wb18.net/files/article/image/2/2014/2014s.jpg" alt="一世富贵" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2014.html">一世富贵</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=安化军/" target="_blank" rel="nofollow">安化军/</a></span>状态：<span>连载中</span>大小：<span>6448K</span></dd>
                <dd class="book_des">
                    穿越到北宋仁宗年间，金榜题名，却因为得罪太后，被打发到岭南为官。从边疆小官做起，步步升迁，徐平终于熬到出头天，在宋代书写自己的传奇。
                    从五代乱世走来的北宋，世家大族… <a href="http://www.wb18.net/modules/article/reader.php?aid=2014" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2014,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2014&cid=1610891">第335章 钱粮准备</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2002.html"><img src="http://www.wb18.net/files/article/image/2/2002/2002s.jpg" alt="铁血宏图" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2002.html">铁血宏图</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=无语的命运/" target="_blank" rel="nofollow">无语的命运/</a></span>状态：<span>连载中</span>大小：<span>4605K</span></dd>
                <dd class="book_des">
                    历史可以改变，可以创造！以铁血挽回国运，扬国威于万里之外，复兴中华，一切从1852开始！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2002" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2002,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2002&cid=1600998">第612章 私心（第二更）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1984.html"><img src="http://www.wb18.net/files/article/image/1/1984/1984s.jpg" alt="万字旗下的第三帝国" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1984.html">万字旗下的第三帝国</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=荣誉与忠诚/" target="_blank" rel="nofollow">荣誉与忠诚/</a></span>状态：<span style="color:red">已完成</span>大小：<span>458K</span></dd>
                <dd class="book_des">    回过神发现身处二战前的德国，民间充满狂热与不满，仇恨在煽动，战争在酝酿。出身贵族家庭，掌握强大资源的他，该何去何从？当被压迫的人换上军装整齐列队高喊：“即使我们全部战… <a href="http://www.wb18.net/modules/article/reader.php?aid=1984" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1984,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1984&cid=1597934">第十九章 酝酿战争</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1958.html"><img src="http://www.wb18.net/files/article/image/1/1958/1958s.jpg" alt="大学士" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1958.html">大学士</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=衣山尽/" target="_blank" rel="nofollow">衣山尽/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3371K</span></dd>
                <dd class="book_des">
                    明朝的那些风花雪月。
                    古代的那些饮食男女。
                    四百年前的官场生态。
                    一个穿越到嘉靖朝的年轻人。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1958" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1958,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1958&cid=1588762">新书《天下衙门》试阅，第一章</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1951.html"><img src="http://www.wb18.net/files/article/image/1/1951/1951s.jpg" alt="兴唐" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1951.html">兴唐</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=午后方晴/" target="_blank" rel="nofollow">午后方晴/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5683K</span></dd>
                <dd class="book_des">
                    我是唐朝的最大纨绔子弟。
                    我是唐朝的皇太子。
                    我是武则天的长子，有可能被母亲第一个干掉的儿子。
                    （重要提示，还原当时真实历史，所以有后宫、萝莉养成、御姐控……… <a href="http://www.wb18.net/modules/article/reader.php?aid=1951" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1951,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1951&cid=1584752">第一百八十章 合(八、大结局)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1945.html"><img src="http://www.wb18.net/files/article/image/1/1945/1945s.jpg" alt="飞豹出击" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1945.html">飞豹出击</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=登峰/" target="_blank" rel="nofollow">登峰/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3025K</span></dd>
                <dd class="book_des">    我空军一个基地在一次军事演习前,穿越到1950年志愿军入朝前几天,他们一举击沉了美国在朝鲜东西海湾的航母,夺取了朝鲜战场的制空权,和全体志愿军战友一起,迎得了抗美援朝的伟大胜利… <a href="http://www.wb18.net/modules/article/reader.php?aid=1945" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1945,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1945&cid=1580928">第三百六十九章 大结局 胜利后的思考</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1904.html"><img src="http://www.wb18.net/files/article/image/1/1904/1904s.jpg" alt="中华第四帝国" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1904.html">中华第四帝国</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=流泪的鱼wyj/" target="_blank" rel="nofollow">流泪的鱼wyj/</a></span>状态：<span style="color:red">已完成</span>大小：<span>10074K</span></dd>
                <dd class="book_des">
                    秦始皇建立中华第一帝国，汉高祖建立中华第二帝国，李渊李世民父子建立中华第三帝国。而中华第四帝国则由王潇王毓泽父子，在1895年建立。
                    炮兵参谋王毓泽重生1890年，成为川西… <a href="http://www.wb18.net/modules/article/reader.php?aid=1904" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1904,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1904&cid=1550723">第一千五百二十六章 万世帝国（大结局）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1903.html"><img src="http://www.wb18.net/files/article/image/1/1903/1903s.jpg" alt="武林帝国" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1903.html">武林帝国</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=骁骑校/" target="_blank" rel="nofollow">骁骑校/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2687K</span></dd>
                <dd class="book_des">
                    纷乱的年代，热血的英雄，碧血黄沙金戈铁马，尽在武林帝国
                    1.不是武侠题材，别被开头的装逼吓到
                    2.是爽书
                    3.应该比《铁器时代》好看点，毕竟那是第一本书，走了些弯路… <a href="http://www.wb18.net/modules/article/reader.php?aid=1903" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1903,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1903&cid=1548670">7-9 大结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1895.html"><img src="http://www.wb18.net/files/article/image/1/1895/1895s.jpg" alt="三国第一强兵" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1895.html">三国第一强兵</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=鲈州鱼/" target="_blank" rel="nofollow">鲈州鱼/</a></span>状态：<span style="color:red">已完成</span>大小：<span>7857K</span></dd>
                <dd class="book_des">
                    乱世操兵戈，男儿当称雄！
                    汉末三国，是热血男儿永恒的主题，因为这是一个英雄辈出的时代，铸就了传奇无数。
                    骑射无双的白马义从；锐不可当的先登死士；攻无不克的陷阵营… <a href="http://www.wb18.net/modules/article/reader.php?aid=1895" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1895,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1895&cid=1544226">完本感言</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1892.html"><img src="http://www.wb18.net/files/article/image/1/1892/1892s.jpg" alt="中华大帝国" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1892.html">中华大帝国</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=大肥羊/" target="_blank" rel="nofollow">大肥羊/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3972K</span></dd>
                <dd class="book_des">
                    神州大地翻天覆地，史诗般壮观的雄伟战役，让敌人的尸骨堆成自己不世的英名。
                    狡猾强大的对手，正好作为自己施展能力的对象。
                    一切一切，尽在《中华大帝国》.
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1892" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1892,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1892&cid=1542180">完本感言</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1891.html"><img src="http://www.wb18.net/files/article/image/1/1891/1891s.jpg" alt="闪电小兵" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1891.html">闪电小兵</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=战士/" target="_blank" rel="nofollow">战士/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2088K</span></dd>
                <dd class="book_des">
                    ********************************
                    环境：宋辽之间，惨烈战场
                    人物身份：百战残生炮灰营之首席老大
                    赖以生存的本领：唯快不破，以速决胜
                    看点：血腥杀戮，惨烈战… <a href="http://www.wb18.net/modules/article/reader.php?aid=1891" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1891,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1891&cid=1540872">第304章 太平盛世(庆祝元旦，本书即将全本！)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1887.html"><img src="http://www.wb18.net/files/article/image/1/1887/1887s.jpg" alt="重生之北洋巨擘" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1887.html">重生之北洋巨擘</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=虫虫帅/" target="_blank" rel="nofollow">虫虫帅/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2421K</span></dd>
                <dd class="book_des">
                    现代愤青小职员穿越时空，附身逃跑名将叶志超之侄叶之魁身上。
                    看叶之魁如何扭转乾坤，打赢平壤战役。
                    叶之魁名言：
                    哥爆的是大岛义昌的菊花，打的是小日本；
                    杀… <a href="http://www.wb18.net/modules/article/reader.php?aid=1887" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1887,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1887&cid=1538774">完本感言</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1884.html"><img src="http://www.wb18.net/files/article/image/1/1884/1884s.jpg" alt="抗战老兵之不死传奇" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1884.html">抗战老兵之不死传奇</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=寂寞剑客/" target="_blank" rel="nofollow">寂寞剑客/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4516K</span></dd>
                <dd class="book_des">    他们以自己的胸膛迎向日寇的刺刀，却把后背留给同胞，他们把死亡留给自己，却把生的机会留给妻儿老小，为了国家，为了民族，他们誓死不退，宁可战至最后一卒……谨以此文，献给所… <a href="http://www.wb18.net/modules/article/reader.php?aid=1884" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1884,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1884&cid=1537925">后记</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1873.html"><img src="http://www.wb18.net/files/article/image/1/1873/1873s.jpg" alt="随波逐流之一代军师" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1873.html">随波逐流之一代军师</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=随波逐流/" target="_blank" rel="nofollow">随波逐流/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3050K</span></dd>
                <dd class="book_des">
                    腰佩黄金已退藏，个中消息也寻常。世人欲识寒园客，只是江南读书郎。
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1873" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1873,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1873&cid=1529505">清梵曲</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1864.html"><img src="http://www.wb18.net/files/article/image/1/1864/1864s.jpg" alt="调教太平洋" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1864.html">调教太平洋</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=河马散人/" target="_blank" rel="nofollow">河马散人/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8351K</span></dd>
                <dd class="book_des">    美国：大白舰队已经出发，太平洋将成为美国的后花园！     李大少爷站在夏威夷柔软的沙滩上，口中念念有词：“比基尼啊！比基尼！”     英国：在富士山观看日出，在澳大利亚剪羊… <a href="http://www.wb18.net/modules/article/reader.php?aid=1864" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1864,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1864&cid=1525953">河马新书《辛亥大英雄》求包养中！！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1855.html"><img src="http://www.wb18.net/files/article/image/1/1855/1855s.jpg" alt="狗运战神" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1855.html">狗运战神</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=灵冰雨/" target="_blank" rel="nofollow">灵冰雨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2351K</span></dd>
                <dd class="book_des">
                    [新人写作季作品] 　　讲述种猪下蛋的故事
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1855" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1855,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1855&cid=1519656">外面转悠了4年，回来转转！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1837.html"><img src="http://www.wb18.net/files/article/image/1/1837/1837s.jpg" alt="风流三国" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1837.html">风流三国</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=浴火重生/" target="_blank" rel="nofollow">浴火重生/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3569K</span></dd>
                <dd class="book_des">    特殊的背景，不见光明的生活，没有正式的身份，没有爱和所爱的人，没有过去和未来的人生。集悲剧于一生的主角在玩三国游戏时，意外穿越至东汉末年，永别组织阴影，又陷入乱世生存… <a href="http://www.wb18.net/modules/article/reader.php?aid=1837" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1837,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1837&cid=1511617">1月4日晚8点,浴火重生与您相约三江阁!</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1834.html"><img src="http://www.wb18.net/files/article/image/1/1834/1834s.jpg" alt="权臣" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1834.html">权臣</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=沙漠/" target="_blank" rel="nofollow">沙漠/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8555K</span></dd>
                <dd class="book_des">
                    他让一个家族的姓氏,成为一个帝国的旗号！
                    踏过时空的界限，抛却身份的束缚，引领着一个曾经辉煌的家族走上又一个辉煌的顶点，做一件骨子里想实现的事情。怒目扬眉，凭借未知… <a href="http://www.wb18.net/modules/article/reader.php?aid=1834" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1834,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1834&cid=1510628">后记</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1829.html"><img src="http://www.wb18.net/files/article/image/1/1829/1829s.jpg" alt="大唐第一庄" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1829.html">大唐第一庄</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=晨风天堂/" target="_blank" rel="nofollow">晨风天堂/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6452K</span></dd>
                <dd class="book_des">
                    连高中都没有拿到毕业证的现代闲人李元兴穿越了。
                    在悼念没来及见上最后一面的哥哥时穿越了，来到玄武门之变第三天的大唐。
                    李世民长的象死去的哥哥，李元兴却象李世民那… <a href="http://www.wb18.net/modules/article/reader.php?aid=1829" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1829,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1829&cid=1506338">后记</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1824.html"><img src="http://www.wb18.net/files/article/image/1/1824/1824s.jpg" alt="黑旗" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1824.html">黑旗</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=紫钗恨/" target="_blank" rel="nofollow">紫钗恨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2207K</span></dd>
                <dd class="book_des">
                    清未架空，崛起越南，黑旗席卷天下
                    黑旗书友群：84706018
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1824" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1824,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1824&cid=1502185">第一百九十八章 开战</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1805.html"><img src="http://www.wb18.net/files/article/image/1/1805/1805s.jpg" alt="以革命的名义" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1805.html">以革命的名义</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=管杀不管填/" target="_blank" rel="nofollow">管杀不管填/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1138K</span></dd>
                <dd class="book_des">
                    一部波澜壮阔的法国革命历史巨篇，
                    一个黑眼睛黄皮肤的中国主导法国革命的传奇。《以革命的名义》将把你带回到那个激情澎湃，刀光血影的18世纪欧洲风云。
                    ~~~~~~~~~~~~~~… <a href="http://www.wb18.net/modules/article/reader.php?aid=1805" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1805,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1805&cid=1487890">第三集 内容简介</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1802.html"><img src="http://www.wb18.net/files/article/image/1/1802/1802s.jpg" alt="大唐小郎中" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1802.html">大唐小郎中</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=沐轶/" target="_blank" rel="nofollow">沐轶/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4579K</span></dd>
                <dd class="book_des">    一个中医院的小药剂师，意外穿越来到开国之初的大唐，成了一家小药铺的小郎中。开药铺的父亲医术平平，老母慈爱而怯弱，姐姐泼辣护短。药铺濒临倒闭，一家人生活十分艰难。年边了… <a href="http://www.wb18.net/modules/article/reader.php?aid=1802" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1802,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1802&cid=1486838">尾声</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1801.html"><img src="http://www.wb18.net/files/article/image/1/1801/1801s.jpg" alt="官居一品" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-07</span><a href="http://www.wb18.net/book/1801.html">官居一品</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=三戒大师/" target="_blank" rel="nofollow">三戒大师/</a></span>状态：<span style="color:red">已完成</span>大小：<span>11325K</span></dd>
                <dd class="book_des">
                    ......数风流，论成败，百年一梦多慷慨。..............
                    ......有心要励精图治挽天倾，哪怕身后骂名滚滚来。........................................................
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1801" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1801,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1801&cid=1486788">曲终人不散，江上数峰青(后记之二)(上)+(下)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1793.html"><img src="http://www.wb18.net/files/article/image/1/1793/1793s.jpg" alt="混在东汉末" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-06</span><a href="http://www.wb18.net/book/1793.html">混在东汉末</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=庄不周/" target="_blank" rel="nofollow">庄不周/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6528K</span></dd>
                <dd class="book_des">
                    一个混世霸王的成长史！
                    精神强大的刘修并不知道，当他来到这个世界，欣喜于这个怪异而强悍的肉体时，大汉的历史车轮便已经发生了不可逆转的改变。
                    英雄？枭雄？奸雄？
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=1793" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1793,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1793&cid=1478997">尾声</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1768.html"><img src="http://www.wb18.net/files/article/image/1/1768/1768s.jpg" alt="国破山河在" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-05</span><a href="http://www.wb18.net/book/1768.html">国破山河在</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=华表/" target="_blank" rel="nofollow">华表/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3949K</span></dd>
                <dd class="book_des">    在命运的安排下，处在错误的时代，历经错误的人生，一个懦弱的学生在命运的抉择之前，是否继续懦弱下去，还是选择为生存而战，没有指挥千军万马的运筹唯握，却甘为一颗普通镙丝钉… <a href="http://www.wb18.net/modules/article/reader.php?aid=1768" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1768,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1768&cid=1458936">中国抗战历史上真实的“八一式步枪”</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1763.html"><img src="http://www.wb18.net/files/article/image/1/1763/1763s.jpg" alt="铁血大明" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-05</span><a href="http://www.wb18.net/book/1763.html">铁血大明</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=寂寞剑客/" target="_blank" rel="nofollow">寂寞剑客/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3144K</span></dd>
                <dd class="book_des">
                    为绝后患，王朴清除了满清鞑子！
                    为平边患，王朴征服了整个大漠。
                    为了练兵，王朴需要很多银子；
                    为了赚钱，王朴只能使出浑身解数，结果就不可避免地与秦淮八艳发生了… <a href="http://www.wb18.net/modules/article/reader.php?aid=1763" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1763,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1763&cid=1456742">第345章 征服欧洲(终章)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1759.html"><img src="http://www.wb18.net/files/article/image/1/1759/1759s.jpg" alt="持戒者" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-05</span><a href="http://www.wb18.net/book/1759.html">持戒者</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=维西/" target="_blank" rel="nofollow">维西/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8707K</span></dd>
                <dd class="book_des">
                    一个退职医生的奇诡之旅！
                    痛击日寇：平型关之战，瓜岛血战。助陆战一师鏖战陆海！
                    梦回大唐：怛罗斯之战，携天威健儿与阿拔斯帝国逐鹿帕米尔高原！
                    东瀛历险：江户时… <a href="http://www.wb18.net/modules/article/reader.php?aid=1759" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1759,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1759&cid=1452610">第1356章 何去何从</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1745.html"><img src="http://www.wb18.net/files/article/image/1/1745/1745s.jpg" alt="唐朝公务员" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-05</span><a href="http://www.wb18.net/book/1745.html">唐朝公务员</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=水叶子/" target="_blank" rel="nofollow">水叶子/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2923K</span></dd>
                <dd class="book_des">
                    历史穿越类新作《隐相》已上传，比这本好看，希望大家喜欢！
                    《隐相》简介：
                    周武革命后两年，即武则天正式登基后的第三年，勤奋过度以至于“过劳死”的唐松穿越一千三百… <a href="http://www.wb18.net/modules/article/reader.php?aid=1745" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1745,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1745&cid=1445871">后记 相思相见知何日，此次此刻难为情！</a></dd>
            </dl>

            <div class="clearfix"></div>
        </div>
        <div class="all_ad mtop"><span id="ad_980_2"></span></div>
    </div>
</body>
</html>
