
@{
    ViewBag.Title = "MetropolisBook";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="clearfix"></div>
<div class="list_center">
    <div class="update_title">
        <span class="update_icon">都市言情·小说列表</span>
    </div>
    <div id="sitebox">

        <dl>
            <dt><a href="http://www.wb18.net/book/2025.html"><img src="http://www.wb18.net/modules/article/images/nocover.jpg" alt="韩城恋" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2025.html">韩城恋</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=白衫岁寒如水/" target="_blank" rel="nofollow">白衫岁寒如水/</a></span>状态：<span>连载中</span>大小：<span>2685K</span></dd>
            <dd class="book_des">
                来和偶像一起谈场风风火火，轰轰烈烈的恋爱吧！！！
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=2025" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2025,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2025&cid=1618362">第两百六十二章 最好的结果</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2024.html"><img src="http://www.wb18.net/files/article/image/2/2024/2024s.jpg" alt="华娱之闪耀巨星" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2024.html">华娱之闪耀巨星</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=万乘北宸/" target="_blank" rel="nofollow">万乘北宸/</a></span>状态：<span>连载中</span>大小：<span>4572K</span></dd>
            <dd class="book_des">
                重回2001，聂唯要做娱乐圈最闪耀的那颗星。
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=2024" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2024,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2024&cid=1617937">第570章 养成系</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2019.html"><img src="http://www.wb18.net/files/article/image/2/2019/2019s.jpg" alt="文娱救世主" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2019.html">文娱救世主</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=浙东匹夫/" target="_blank" rel="nofollow">浙东匹夫/</a></span>状态：<span>连载中</span>大小：<span>3176K</span></dd>
            <dd class="book_des">
                大丈夫生不进组合，死不入公墓，岂可屈处于资本之下？
                敢潜我？敢潜我的红颜知己？那就等着哥用未来的推送科技，从根子上颠覆整个现有娱乐圈的法则吧！谁让哥是全人类内容产业… <a href="http://www.wb18.net/modules/article/reader.php?aid=2019" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2019,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2019&cid=1615486">第8章 装逼也可以是被逼的</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2008.html"><img src="http://www.wb18.net/files/article/image/2/2008/2008s.jpg" alt="狂探" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2008.html">狂探</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=旷海忘湖/" target="_blank" rel="nofollow">旷海忘湖/</a></span>状态：<span>连载中</span>大小：<span>1497K</span></dd>
            <dd class="book_des">    一个打架不要命,无节操无底线的痞子王，意外穿越到平行空间，摇身变成了一名重案组探员。巨大的身份转换，让他把警局搞得鸡飞狗跳。然而，一个邪门的奇遇系统，却让他屡破奇案，成… <a href="http://www.wb18.net/modules/article/reader.php?aid=2008" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2008,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2008&cid=1605448">第264章 还是复仇吗？</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2007.html"><img src="http://www.wb18.net/files/article/image/2/2007/2007s.jpg" alt="顾道长生" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2007.html">顾道长生</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=睡觉会变白/" target="_blank" rel="nofollow">睡觉会变白/</a></span>状态：<span>连载中</span>大小：<span>1173K</span></dd>
            <dd class="book_des">
                大概是一个从现代文明演变成修真文明的故事。
                主角的作用主要是吐槽，顺便更改世界设定，以及带着一帮人浪天浪地浪飞边儿。
                ????
                本书仍然很墨迹
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=2007" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2007,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2007&cid=1605182">第一百八十九章 神秘势力</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2005.html"><img src="http://www.wb18.net/files/article/image/2/2005/2005s.jpg" alt="疯狂神豪玩科技" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2005.html">疯狂神豪玩科技</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=为情成痴/" target="_blank" rel="nofollow">为情成痴/</a></span>状态：<span>连载中</span>大小：<span>2747K</span></dd>
            <dd class="book_des">
                老司机翻车，居然蹦出个‘土豪系统’。
                做任务，抽大奖，疯狂散财玩科技，一不小心，苏诚就成了神级土豪。
                “花钱是件极其无聊的事情，真的，不骗你。”
                “我这辈子最… <a href="http://www.wb18.net/modules/article/reader.php?aid=2005" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2005,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2005&cid=1603743">第489章 英语老师（十更）</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/2003.html"><img src="http://www.wb18.net/files/article/image/2/2003/2003s.jpg" alt="从仙侠世界归来" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2003.html">从仙侠世界归来</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=发狂的妖魔/" target="_blank" rel="nofollow">发狂的妖魔/</a></span>状态：<span>连载中</span>大小：<span>7870K</span></dd>
            <dd class="book_des">
                五年前，萧凡突然神秘失踪，生不见人，死不见尸，没人知道他其实是去了一个广袤无边，仙神林立，妖魔横行的仙侠世界。
                五年后，萧凡已经在那个仙侠世界度过了漫长的五千年，带… <a href="http://www.wb18.net/modules/article/reader.php?aid=2003" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2003,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2003&cid=1602278">第1279章 那只是一把破刀</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1998.html"><img src="http://www.wb18.net/files/article/image/1/1998/1998s.jpg" alt="都市种子王" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1998.html">都市种子王</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=七星荔枝肉/" target="_blank" rel="nofollow">七星荔枝肉/</a></span>状态：<span>连载中</span>大小：<span>430K</span></dd>
            <dd class="book_des">
                来自天外的种植传承，能培育超凡的种子。
                种田何必乡间农田，养鸡无需山林野地。
                想在客厅的天花板上采摘葡萄吗？
                想在床头种一棵冰淇淋果吗？
                想足不出户，每日… <a href="http://www.wb18.net/modules/article/reader.php?aid=1998" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1998,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1998&cid=1599736">第七十三章 种植业恶魔</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1997.html"><img src="http://www.wb18.net/files/article/image/1/1997/1997s.jpg" alt="港娱1975" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1997.html">港娱1975</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=来不及忧伤/" target="_blank" rel="nofollow">来不及忧伤/</a></span>状态：<span>连载中</span>大小：<span>551K</span></dd>
            <dd class="book_des">
                穿越香江一九七五。
                让我们一起回顾那些永恒的经典！
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1997" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1997,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1997&cid=1599661">第75章 新书《诛仙》</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1996.html"><img src="http://www.wb18.net/files/article/image/1/1996/1996s.jpg" alt="地府朋友圈" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1996.html">地府朋友圈</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=花生鱼米/" target="_blank" rel="nofollow">花生鱼米/</a></span>状态：<span>连载中</span>大小：<span>351K</span></dd>
            <dd class="book_des">    本是普通大学生的郑乾，无意中淘到一个二手山寨手机，当他打开手机发现微信竟然可以连接地府朋友圈的时候，他觉得这个世界变格外的美好??腹黑萝莉，火辣御姐，清纯学妹，妖媚少妇… <a href="http://www.wb18.net/modules/article/reader.php?aid=1996" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1996,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1996&cid=1599585">第55章第五十五章 奉陪到底</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1995.html"><img src="http://www.wb18.net/files/article/image/1/1995/1995s.jpg" alt="少年王" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1995.html">少年王</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=抚琴的人/" target="_blank" rel="nofollow">抚琴的人/</a></span>状态：<span>连载中</span>大小：<span>1260K</span></dd>
            <dd class="book_des">    我爸老来得子，生我的时候都快五十了。别人的爸爸都高大帅气，就我爸的头发早就白了，看着跟个老头似的。 有次我没带作业，我爸给我送来了，同桌用很夸张的声音说：王巍，你爷爷来… <a href="http://www.wb18.net/modules/article/reader.php?aid=1995" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1995,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1995&cid=1599529">137 不能再怕他</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1993.html"><img src="http://www.wb18.net/files/article/image/1/1993/1993s.jpg" alt="捡宝王" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1993.html">捡宝王</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=全金属弹壳/" target="_blank" rel="nofollow">全金属弹壳/</a></span>状态：<span>连载中</span>大小：<span>43K</span></dd>
            <dd class="book_des">
                爱黄金，爱白银，更爱星光璀璨的宝石。
                枪械，珠宝，还有贵金属，收藏家的世界怎么能少了古董？
                仓库拍卖，旧货交易，房产收售，还有淘金挖矿，其实要想赚钱那么寻找传说… <a href="http://www.wb18.net/modules/article/reader.php?aid=1993" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1993,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1993&cid=1599340">8.兽夹里的阿喵（求收藏求推荐）</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1987.html"><img src="http://www.wb18.net/files/article/image/1/1987/1987s.jpg" alt="女总裁的功夫神医" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1987.html">女总裁的功夫神医</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=坐墙等红杏/" target="_blank" rel="nofollow">坐墙等红杏/</a></span>状态：<span>连载中</span>大小：<span>2662K</span></dd>
            <dd class="book_des">    你听说过男女合租吗？你体验过男女合租吗？男人女人同租一套房，她（他）们会成为恋人还是冤家？　　本来，霍青有着自己喜欢的女人，爷爷却给他找了一个未婚妻。他想着把婚约退掉… <a href="http://www.wb18.net/modules/article/reader.php?aid=1987" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1987,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1987&cid=1598739">第376章 这个马子好正点</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1986.html"><img src="http://www.wb18.net/files/article/image/1/1986/1986s.jpg" alt="神盾局的新晋职员" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1986.html">神盾局的新晋职员</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=职业偷懒/" target="_blank" rel="nofollow">职业偷懒/</a></span>状态：<span>连载中</span>大小：<span>293K</span></dd>
            <dd class="book_des">
                李维斯变成了韦斯利，带着一个废品智能系统来到了平行世界，成为了刺客联盟中的一员。随后不断出现电影中的特工和超级英雄，而他也成为了神盾局中一名新晋职员。
                随着系统不断… <a href="http://www.wb18.net/modules/article/reader.php?aid=1986" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1986,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1986&cid=1598364">第六十三章 升级完成。</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1983.html"><img src="http://www.wb18.net/files/article/image/1/1983/1983s.jpg" alt="强殖战士" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1983.html">强殖战士</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=末日教主/" target="_blank" rel="nofollow">末日教主/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1901K</span></dd>
            <dd class="book_des">    一块不知从何而来的神奇的石头，竟然是一具神秘的强殖装甲。少年孙若丹在因缘巧合之下得到了强殖装甲，他的生活从此起了翻天覆地的变化，家仇、情感、黑暗??????且看孙若丹凭借强… <a href="http://www.wb18.net/modules/article/reader.php?aid=1983" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1983,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1983&cid=1597870">新书上传《杀戮王座》，请捧场，砖头也行！</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1976.html"><img src="http://www.wb18.net/files/article/image/1/1976/1976s.jpg" alt="橙红年代" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1976.html">橙红年代</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=骁骑校/" target="_blank" rel="nofollow">骁骑校/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4944K</span></dd>
            <dd class="book_des">
                【本书全免费】第一本点击过亿的都市小说！
                八年前，他是畏罪逃亡的烤肠小贩
                八年后，他是经历过血与火考验的铮铮硬汉
                家徒四壁，父母下岗，蜗居于棚户区之间，重头再… <a href="http://www.wb18.net/modules/article/reader.php?aid=1976" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1976,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1976&cid=1597430">11-37 矛盾激化</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1981.html"><img src="http://www.wb18.net/files/article/image/1/1981/1981s.jpg" alt="未来巨星在都市" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1981.html">未来巨星在都市</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=九月阳光/" target="_blank" rel="nofollow">九月阳光/</a></span>状态：<span style="color:red">已完成</span>大小：<span>795K</span></dd>
            <dd class="book_des">
                二百年后的一名超级巨星，在功成名就之时被人枪击，灵魂回到了2010年，附身在一个纨绔公子的身上，开始了一段用星芒四射的魅力征服天下、掠艳寻芳的传奇。
                军花，校花，国际之… <a href="http://www.wb18.net/modules/article/reader.php?aid=1981" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1981,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1981&cid=1597243">第一百二十八章 剿灭行动</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1974.html"><img src="http://www.wb18.net/files/article/image/1/1974/1974s.jpg" alt="小地主" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1974.html">小地主</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=如莲如玉/" target="_blank" rel="nofollow">如莲如玉/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3288K</span></dd>
            <dd class="book_des">
                回忆过去那点事，其实就是这个味。
                书友群：53677105，没事可以进来扯扯蛋（已满）
                书友群：23428409（感谢友人西子眉提供）(已满)
                书友群：73683250（感谢书友冰封剑… <a href="http://www.wb18.net/modules/article/reader.php?aid=1974" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1974,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1974&cid=1595694">第四百六十六章 百元婚礼</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1970.html"><img src="http://www.wb18.net/files/article/image/1/1970/1970s.jpg" alt="农夫山田有眼泉" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1970.html">农夫山田有眼泉</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=一步穿杨/" target="_blank" rel="nofollow">一步穿杨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>436K</span></dd>
            <dd class="book_des">
                一只流浪于无边宇宙中的虫族母巢寄生在张文的身上并回到了十年前的农村老家，
                重生的张文利用母巢对家乡的大山进行开发，
                并带领乡亲们走向富裕。
                这是一部关于乡村的… <a href="http://www.wb18.net/modules/article/reader.php?aid=1970" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1970,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1970&cid=1593970">第91章 破冰猪</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1969.html"><img src="http://www.wb18.net/files/article/image/1/1969/1969s.jpg" alt="娱乐之子" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1969.html">娱乐之子</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=电力拖动/" target="_blank" rel="nofollow">电力拖动/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1190K</span></dd>
            <dd class="book_des">
                他当然是天才，明灯一盏，再多的黑暗也挡不住光芒万丈
                他或许也悲伤，踽踽独行，为一点珍贵的亲情不惜所有
                天才如果悲伤，就是神要诞生了！
                【我们的口号是，多写少写… <a href="http://www.wb18.net/modules/article/reader.php?aid=1969" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1969,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1969&cid=1593854">第九十六章 大结局(终)</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1962.html"><img src="http://www.wb18.net/files/article/image/1/1962/1962s.jpg" alt="天才小屁孩" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1962.html">天才小屁孩</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=我吃葡萄/" target="_blank" rel="nofollow">我吃葡萄/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3730K</span></dd>
            <dd class="book_des">
                “重活一世就要做出一番惊天动地的大事，否则对不起‘重生者’这三个字。”
                这句话是一个十岁的农家孩子说的,于是乎，他成了人们口中的‘天才小屁孩’。
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1962" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1962,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1962&cid=1592500">【520】 大结局</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1963.html"><img src="http://www.wb18.net/files/article/image/1/1963/1963s.jpg" alt="非主流重生" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1963.html">非主流重生</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=欧阳杨/" target="_blank" rel="nofollow">欧阳杨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2303K</span></dd>
            <dd class="book_des">
                “这么多人都重生了，为啥偏偏老子的重生是非主流的。”看着雪白墙面上小时候自己写着的歪歪斜斜的一行小字，想到中午无意中发现的考卷，何子游不由悲从心起。
                ……
                嗯，… <a href="http://www.wb18.net/modules/article/reader.php?aid=1963" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1963,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1963&cid=1592083">写了本科幻类的新书，有兴趣的可以看看~</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1666.html"><img src="http://www.wb18.net/files/article/image/1/1666/1666s.jpg" alt="邪气凛然" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1666.html">邪气凛然</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=跳舞/" target="_blank" rel="nofollow">跳舞/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5375K</span></dd>
            <dd class="book_des">    OK，本次YY旅程，开始…… 　　主角陈阳，原本只是一个普通人，某日，忽然得到了一个机会：他将拥有可以控制自己运气的特殊本领！！ 　　随即桃花运，事业运，财运，纷涌而来……… <a href="http://www.wb18.net/modules/article/reader.php?aid=1666" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1666,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1666&cid=1589891">最新 第三部 颠峰 第一百三十八章 【??后记！】</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1957.html"><img src="http://www.wb18.net/files/article/image/1/1957/1957s.jpg" alt="重生一九八五" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1957.html">重生一九八五</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=编织成的梦/" target="_blank" rel="nofollow">编织成的梦/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8161K</span></dd>
            <dd class="book_des">
                一个以金融风暴发家，发展实业，最终登上巅峰的传奇故事！！
                QQ群：〖32127829(满）119514139（满）59762247（新）〗
                新书&lt;霸兵&gt;上传!
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1957" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1957,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1957&cid=1589055">啥也不说了!新书上传!!</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1664.html"><img src="http://www.wb18.net/files/article/image/1/1664/1664s.jpg" alt="神仙都在兜里揣" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1664.html">神仙都在兜里揣</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=萧爷/" target="_blank" rel="nofollow">萧爷/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2728K</span></dd>
            <dd class="book_des">
                摆脱宇宙万神的监控与束缚，谁不服气收拾谁！
                上帝很牛吧，一句“我说”，要天有天要地有地；黑帝斯很牛吧，只要死了都归他管；如来佛牛吧，翻翻巴掌，就把孙猴子压了五百年；… <a href="http://www.wb18.net/modules/article/reader.php?aid=1664" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1664,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1664&cid=1585361">237 天使的灵魂</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1661.html"><img src="http://www.wb18.net/files/article/image/1/1661/1661s.jpg" alt="最终智能" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1661.html">最终智能</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=怕冷的火焰/" target="_blank" rel="nofollow">怕冷的火焰/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1978K</span></dd>
            <dd class="book_des">
                一款生产于公元3009年的戒指型智能生物电脑，穿越时空砸在了杜承的头上，强大的智能程序让杜承接触到了未来千年内的高科技知识。
                ??商业、工业、科技，杜承无不遥遥领先，发展… <a href="http://www.wb18.net/modules/article/reader.php?aid=1661" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1661,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1661&cid=1583243">第二百八十五章 荣誉院士</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1948.html"><img src="http://www.wb18.net/files/article/image/1/1948/1948s.jpg" alt="升迁之路" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1948.html">升迁之路</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=夏言冰/" target="_blank" rel="nofollow">夏言冰/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3946K</span></dd>
            <dd class="book_des">
                农家子弟？元勋之孙？身世扑朔迷离。解读共和国政治新星升迁密码……
                －－－－－－－－－－－－－－－－－－－－－－－－－－－
                升迁之路书友一群：64117058（已满）
                … <a href="http://www.wb18.net/modules/article/reader.php?aid=1948" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1948,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1948&cid=1582959">结束感言</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1366.html"><img src="http://www.wb18.net/files/article/image/1/1366/1366s.jpg" alt="暧昧" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1366.html">暧昧</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=鹅考/" target="_blank" rel="nofollow">鹅考/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2584K</span></dd>
            <dd class="book_des">    我是一个很平凡的银行小职员，度过了平凡的二十六年光阴。可是在金秋十月的某一天，我先后遇上了三位极为出色的女人。她们有的成熟性感，温柔善良。有的冷艳严峻，爱憎分明。还有… <a href="http://www.wb18.net/modules/article/reader.php?aid=1366" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1366,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1366&cid=1581745">第四百章 的结局（全书完）</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1349.html"><img src="http://www.wb18.net/files/article/image/1/1349/1349s.jpg" alt="落宝金瞳" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1349.html">落宝金瞳</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=庾乐/" target="_blank" rel="nofollow">庾乐/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3094K</span></dd>
            <dd class="book_des">    洪天宝，名牌大学的毕业生，却也得面对找不到工作的尴尬现实。        整理姥爷遗物的时候，得到姥爷家的传家之宝：一枚古怪铜钱。殊不知这枚铜钱大有来头，原来就是上古时期的落… <a href="http://www.wb18.net/modules/article/reader.php?aid=1349" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1349,0);">[加入书架]</a></dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1349&cid=1581315">第四百九十三章 终章</a></dd>
        </dl>

        <dl>
            <dt><a href="http://www.wb18.net/book/1943.html"><img src="http://www.wb18.net/files/article/image/1/1943/1943s.jpg" alt="点石成金" height="155" width="120"></a></dt>
            <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1943.html">点石成金</a></h3></dd>
            <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=自白/" target="_blank" rel="nofollow">自白/</a></span>状态：<span style="color:red">已完成</span>大小：<span>778K</span></dd>
            <dd class="book_des">
                ...?─────┈┈┈┈┈┈┈┈┈────?...
                ...│...浮.生.若.梦.....为.欢.几.何......│...
                ...│...时.空.逆.旅.....重.写.人.生..?..│...
                ...?──────… <a href="http://www.wb18.net/modules/article/reader.php?aid=1943" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1943,0);">[加入书架]</a>
            </dd>
            <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1943&cid=1579853">【120】终章大结局</a></dd>
        </dl>

        <div class="clearfix"></div>
    </div>
    <div class="all_ad mtop"><span id="ad_980_2"></span></div>
</div>
<div class="bottoma">
    <script>bottoma();</script>
</div>


