
@{
    ViewBag.Title = "ScifiBook";
}
<html>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="list_center">
        <div class="update_title">
            <span class="update_icon">科幻灵异·小说列表</span>
        </div>
        <div id="sitebox">

            <dl>
                <dt><a href="http://www.wb18.net/book/2058.html"><img src="http://www.wb18.net/files/article/image/2/2058/2058s.jpg" alt="废土崛起" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-18</span><a href="http://www.wb18.net/book/2058.html">废土崛起</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=通吃道人.QD/" target="_blank" rel="nofollow">通吃道人.QD/</a></span>状态：<span>连载中</span>大小：<span>6940K</span></dd>
                <dd class="book_des">
                    一块方便面勾搭一个金发大奶，不是天使面孔魔鬼身材就别到我面前来了。啥？还要配火腿肠？这生意可有点亏了，除非把那凶暴萝莉给我当赠品。
                    聊天QQ群： 被举报，挂了
                    验证… <a href="http://www.wb18.net/modules/article/reader.php?aid=2058" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2058,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2058&cid=1656953">第1370章 援军来了</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2001.html"><img src="http://www.wb18.net/files/article/image/2/2001/2001s.jpg" alt="无尽武道" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-18</span><a href="http://www.wb18.net/book/2001.html">无尽武道</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=梦必生花/" target="_blank" rel="nofollow">梦必生花/</a></span>状态：<span>连载中</span>大小：<span>6277K</span></dd>
                <dd class="book_des">
                    简介无能,干脆就简单点：
                    摒弃了时下大部分的流行元素，徜徉于人们耳熟能详的古老传说故事，以及人们心中坚定的信仰和传承，还有人们坚信必将到来的科技未来，以人最重要的信… <a href="http://www.wb18.net/modules/article/reader.php?aid=2001" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2001,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2001&cid=1653250">第360章 瓶颈去，盟约成（第四卷 终）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2052.html"><img src="http://www.wb18.net/files/article/image/2/2052/2052s.jpg" alt="直死无限" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-18</span><a href="http://www.wb18.net/book/2052.html">直死无限</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=如倾如诉/" target="_blank" rel="nofollow">如倾如诉/</a></span>状态：<span>连载中</span>大小：<span>5024K</span></dd>
                <dd class="book_des">
                    “从今天起，你将成为主神空间中的一名主神使者，周而复始的来往于一个个的世界，那样，你会得到别人一辈子都得不到的东西。”
                    从这句话在方里的脑海中响起的那一个瞬间，方里… <a href="http://www.wb18.net/modules/article/reader.php?aid=2052" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2052,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2052&cid=1649044">966 先欢迎你回来咯？</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2051.html"><img src="http://www.wb18.net/files/article/image/2/2051/2051s.jpg" alt="刀碎星河" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-18</span><a href="http://www.wb18.net/book/2051.html">刀碎星河</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=猪小小/" target="_blank" rel="nofollow">猪小小/</a></span>状态：<span>连载中</span>大小：<span>9106K</span></dd>
                <dd class="book_des">
                    六千五百万年前，地球的霸主是各式大小恐龙。
                    新生代第四纪，人类成为了地球新的霸主。
                    可惜，大多数的人类从出生到死亡，大脑都只开发利用了3%－5%，这是极大的浪费，人… <a href="http://www.wb18.net/modules/article/reader.php?aid=2051" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2051,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2051&cid=1648075">第1754章 套路太深了</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2036.html"><img src="http://www.wb18.net/files/article/image/2/2036/2036s.jpg" alt="机破星河" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-16</span><a href="http://www.wb18.net/book/2036.html">机破星河</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=当年离歌/" target="_blank" rel="nofollow">当年离歌/</a></span>状态：<span>连载中</span>大小：<span>5825K</span></dd>
                <dd class="book_des">
                    梦想是……有实力的人才能谈论的现实。
                    这是一个天才辈出的时代！
                    这是一个英杰遍地的时代！
                    贵族与平民的激烈冲突，联邦与帝国的明争暗斗，蠢蠢欲动的域外……
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2036" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2036,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2036&cid=1631368">第七百零四章 偶遇</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2035.html"><img src="http://www.wb18.net/files/article/image/2/2035/2035s.jpg" alt="科学家的空间塔" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-16</span><a href="http://www.wb18.net/book/2035.html">科学家的空间塔</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=柳河边小道/" target="_blank" rel="nofollow">柳河边小道/</a></span>状态：<span>连载中</span>大小：<span>2696K</span></dd>
                <dd class="book_des">
                    做为一个合格的科学家，却遇到了法师这种不科学的职业，李昱该怎么办？
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2035" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2035,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2035&cid=1630435">第四二九章 迷团</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2026.html"><img src="http://www.wb18.net/files/article/image/2/2026/2026s.jpg" alt="文化入侵异世界" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2026.html">文化入侵异世界</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=姐姐的新娘/" target="_blank" rel="nofollow">姐姐的新娘/</a></span>状态：<span>连载中</span>大小：<span>573K</span></dd>
                <dd class="book_des">
                    一群巨龙搬着小板凳日夜追看《权利游戏》。
                    精灵大德鲁伊们因为《忠犬八公的故事》而潸然泪下。
                    人类与矮人在《炉石传说》酒馆中为一张传说卡牌而大大出手。
                    甚至就连… <a href="http://www.wb18.net/modules/article/reader.php?aid=2026" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2026,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2026&cid=1618777">第一百零五章 真实</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2022.html"><img src="http://www.wb18.net/files/article/image/2/2022/2022s.jpg" alt="娱乐掌控者" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2022.html">娱乐掌控者</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=威武武威/" target="_blank" rel="nofollow">威武武威/</a></span>状态：<span>连载中</span>大小：<span>2962K</span></dd>
                <dd class="book_des">
                    职场纵横、商场争霸、文娱畅想，康庄扶摇之路！
                    … <a href="http://www.wb18.net/modules/article/reader.php?aid=2022" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2022,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2022&cid=1617174">第四百零八章 交换角色</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2017.html"><img src="http://www.wb18.net/files/article/image/2/2017/2017s.jpg" alt="惊悚乐园" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-15</span><a href="http://www.wb18.net/book/2017.html">惊悚乐园</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=三天两觉/" target="_blank" rel="nofollow">三天两觉/</a></span>状态：<span>连载中</span>大小：<span>10397K</span></dd>
                <dd class="book_des">
                    打怪、练级、穿装备的游戏模式经历了时间的考验，在光脑时代依旧是网游的主流趋势，竞技类或社交类游戏只可望其项背。
                    但无论哪种类型的游戏，在固定的盈利模式下，都很难改变… <a href="http://www.wb18.net/modules/article/reader.php?aid=2017" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2017,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2017&cid=1614949">第1310章 梦想成真不会遥远</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2013.html"><img src="http://www.wb18.net/files/article/image/2/2013/2013s.jpg" alt="主神崛起" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2013.html">主神崛起</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=文抄公/" target="_blank" rel="nofollow">文抄公/</a></span>状态：<span>连载中</span>大小：<span>5156K</span></dd>
                <dd class="book_des">
                    一觉醒来穿越成反派？这剧本不对！
                    还抢了人家的妹子？又有一个强势的姐姐？剧本更不对了！
                    居然还有主神空间，诸天万界？我一定是在做梦！吴明淡定地木着脸，继续着征程… <a href="http://www.wb18.net/modules/article/reader.php?aid=2013" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2013,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2013&cid=1609798">第六百八十五章 潮流</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2012.html"><img src="http://www.wb18.net/files/article/image/2/2012/2012s.jpg" alt="网游之神级机械猎人" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2012.html">网游之神级机械猎人</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=逆袭的马里奥/" target="_blank" rel="nofollow">逆袭的马里奥/</a></span>状态：<span>连载中</span>大小：<span>5273K</span></dd>
                <dd class="book_des">
                    你还在为稀有宠物和极品装备发愁吗？
                    看我带着飞机头，蜘蛛坦克，死神4000，速刷副本，虐杀BOSS！
                    什么风骚的走位，什么神级意识，在我的机械炮台带来的金属风暴面前都是… <a href="http://www.wb18.net/modules/article/reader.php?aid=2012" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2012,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2012&cid=1609111">第一零一四章 女伯爵</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/2009.html"><img src="http://www.wb18.net/files/article/image/2/2009/2009s.jpg" alt="无限二次元攻略" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-14</span><a href="http://www.wb18.net/book/2009.html">无限二次元攻略</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=聆夜曲/" target="_blank" rel="nofollow">聆夜曲/</a></span>状态：<span>连载中</span>大小：<span>2096K</span></dd>
                <dd class="book_des">
                    萝莉控遇上萌萝莉也并不一定就是好事。
                    “GAME OVER的后果可是抹杀哟！”银发小萝莉阿赖耶一脸‘和煦’微笑的威胁道。
                    “但是如果能够完成攻略的话就是给你看耶酱的胖次也… <a href="http://www.wb18.net/modules/article/reader.php?aid=2009" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(2009,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=2009&cid=1605775">327.敌人！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1990.html"><img src="http://www.wb18.net/modules/article/images/nocover.jpg" alt="异常生物见闻录" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1990.html">异常生物见闻录</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=远瞳/" target="_blank" rel="nofollow">远瞳/</a></span>状态：<span>连载中</span>大小：<span>720K</span></dd>
                <dd class="book_des">
                    郝仁，人如其名，是个好人，理想是平平安安过一辈子，当个穷不死但也发不了财的小房东??起码在他家里住进去一堆神经病生物之前是这样。
                    一栋偏僻陈旧的大屋，一堆不怎么正常的… <a href="http://www.wb18.net/modules/article/reader.php?aid=1990" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1990,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1990&cid=1599126">第一百二十二章 柯依伯站</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1989.html"><img src="http://www.wb18.net/files/article/image/1/1989/1989s.jpg" alt="祖上是盗墓的" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1989.html">祖上是盗墓的</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=水木四/" target="_blank" rel="nofollow">水木四/</a></span>状态：<span>连载中</span>大小：<span>518K</span></dd>
                <dd class="book_des">
                    长生不老是人类美好的梦，可是当它实现了呢？这是幸与不幸呢？
                    曹郁森意外吞食了长生不老药，人生的轨迹从此开始了改变，开始了一段神奇的旅途……
                    树根在数百年不腐的绝… <a href="http://www.wb18.net/modules/article/reader.php?aid=1989" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1989,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1989&cid=1599003">第112章 记叙结束</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1988.html"><img src="http://www.wb18.net/files/article/image/1/1988/1988s.jpg" alt="美漫之亚魔卓装甲" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1988.html">美漫之亚魔卓装甲</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=迷途陌客/" target="_blank" rel="nofollow">迷途陌客/</a></span>状态：<span>连载中</span>大小：<span>752K</span></dd>
                <dd class="book_des">
                    埃瑞克?夏洛特，光临美漫世界的一名穿越者。
                    他的父母身份成谜，多年以来不见人影。直到他十八岁这年为止唯一带给他的，是一群试图绑架他的暴徒。
                    埃瑞克意外得到了能够模… <a href="http://www.wb18.net/modules/article/reader.php?aid=1988" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1988,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1988&cid=1598890">第一百五十章 潜伏的病毒</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1967.html"><img src="http://www.wb18.net/files/article/image/1/1967/1967s.jpg" alt="星武战神" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-13</span><a href="http://www.wb18.net/book/1967.html">星武战神</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=逆流双鱼/" target="_blank" rel="nofollow">逆流双鱼/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1213K</span></dd>
                <dd class="book_des">
                    被当做失败基因战士，送往垃圾处理星??魔域星的陈幽洛，在到处是变异生物与基因失败战士的恶劣环境中该如何生存？
                    **********************************
                    书友群：一世&amp;情缘… <a href="http://www.wb18.net/modules/article/reader.php?aid=1967" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1967,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1967&cid=1593432">新书(天窥)已上传</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1950.html"><img src="http://www.wb18.net/files/article/image/1/1950/1950s.jpg" alt="生化之我是丧尸" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1950.html">生化之我是丧尸</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=看电视吃瓜子/" target="_blank" rel="nofollow">看电视吃瓜子/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1857K</span></dd>
                <dd class="book_des">
                    公元201X年，T病毒在M国爆发，世界一片混乱，无数人在疯狂撕杀，血肉横飞。
                    如果，你是人类，请小心，我是丧尸！
                    有些些血腥，有些些恐惧，更有些些暧昧与调教，以及那痛… <a href="http://www.wb18.net/modules/article/reader.php?aid=1950" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1950,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1950&cid=1583192">第182章 不是结局的结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1949.html"><img src="http://www.wb18.net/files/article/image/1/1949/1949s.jpg" alt="星墓" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1949.html">星墓</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=风起闲云/" target="_blank" rel="nofollow">风起闲云/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2448K</span></dd>
                <dd class="book_des">
                    这是一个古武与机甲并存的星际年代。
                    这是一个以文明等级来衡量国家实力的星际年代。
                    这是一个弱肉强食，勾心斗角，为达目的不择手段的星际年代。
                    ??????????
                    注… <a href="http://www.wb18.net/modules/article/reader.php?aid=1949" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1949,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1949&cid=1582775">【十分重要，闲云拜请】</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1947.html"><img src="http://www.wb18.net/files/article/image/1/1947/1947s.jpg" alt="破灭时空" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1947.html">破灭时空</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=任怨/" target="_blank" rel="nofollow">任怨/</a></span>状态：<span style="color:red">已完成</span>大小：<span>4023K</span></dd>
                <dd class="book_des">
                    自古以来，军中最精锐的人员只会在两个地方。一是最精锐的特种部队，二就是在重犯监狱。
                    赵立为了隐瞒自己修行天才的事实，只能加入军方，用军方的战斗功法来掩盖自己的修为异… <a href="http://www.wb18.net/modules/article/reader.php?aid=1947" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1947,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1947&cid=1581828">破灭完本感言以及新书《天下无双》广告</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1944.html"><img src="http://www.wb18.net/files/article/image/1/1944/1944s.jpg" alt="狼神" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-12</span><a href="http://www.wb18.net/book/1944.html">狼神</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=月关/" target="_blank" rel="nofollow">月关/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2145K</span></dd>
                <dd class="book_des">
                    兽的世界，人的世界，神的世界......
                    过去的世界，现在的世界，未来的世界......
                    当这一切都错综纠缠到同一个人的世界，他该如何面对？
                    当充斥于大千世界的善与恶、情… <a href="http://www.wb18.net/modules/article/reader.php?aid=1944" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1944,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1944&cid=1580468">第188章 神战：至高天(大结局)</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1928.html"><img src="http://www.wb18.net/files/article/image/1/1928/1928s.jpg" alt="龙骑战机" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1928.html">龙骑战机</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=华表/" target="_blank" rel="nofollow">华表/</a></span>状态：<span style="color:red">已完成</span>大小：<span>9181K</span></dd>
                <dd class="book_des">
                    龙，龙骑士!
                    战斗机，空战王牌!
                    来自异界的龙骑士挑战科技时代的空战精英，重操旧业亦或是不断进阶寻求强者之路。和平年代阴影下的暗战，国与国之间的较量，军人从来就不… <a href="http://www.wb18.net/modules/article/reader.php?aid=1928" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1928,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1928&cid=1567775">完本手记</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1139.html"><img src="http://www.wb18.net/files/article/image/1/1139/1139s.jpg" alt="无限之召唤笔记" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1139.html">无限之召唤笔记</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=李家成功/" target="_blank" rel="nofollow">李家成功/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8024K</span></dd>
                <dd class="book_des">
                    召唤??
                    李维可以召唤他想要召唤的一切??人
                    作为一个电影、游戏、动画、漫画、小说五毒俱全的职业写手，他当然是召唤师。
                    还是那句话??
                    祭坛唯有用猪脚的鲜血供奉… <a href="http://www.wb18.net/modules/article/reader.php?aid=1139" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1139,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1139&cid=1564750">1202 END</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1924.html"><img src="http://www.wb18.net/files/article/image/1/1924/1924s.jpg" alt="末日影杀者" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-11</span><a href="http://www.wb18.net/book/1924.html">末日影杀者</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=凝香叶/" target="_blank" rel="nofollow">凝香叶/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5634K</span></dd>
                <dd class="book_des">    末日降临，虫蟒、古猿、食人族、猎头族……人类变为食物，惨不忍睹。 萧玉，偶然融合了一枚玉珠，得到了可以看穿过去未来的虚影世界。 为了活下去？必须利用特能摆脱追杀，改变一… <a href="http://www.wb18.net/modules/article/reader.php?aid=1924" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1924,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1924&cid=1564069">终章 轮回??人生若只如初见</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1906.html"><img src="http://www.wb18.net/files/article/image/1/1906/1906s.jpg" alt="末世狩神志" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1906.html">末世狩神志</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=炎与永远01/" target="_blank" rel="nofollow">炎与永远01/</a></span>状态：<span style="color:red">已完成</span>大小：<span>1314K</span></dd>
                <dd class="book_des">
                    如果有一天，末日已经降临，太阳已经消失，会是怎样的世界？
                    面对带来预言中末日审判的众神，面对从此没有阳光的新世界，坚韧的人类文明却没有就此结束。
                    旧时代科技产物… <a href="http://www.wb18.net/modules/article/reader.php?aid=1906" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1906,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1906&cid=1551356">第四十一章 封神（大结局）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1900.html"><img src="http://www.wb18.net/files/article/image/1/1900/1900s.jpg" alt="末世超级物品商店" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1900.html">末世超级物品商店</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=津门青皮/" target="_blank" rel="nofollow">津门青皮/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5703K</span></dd>
                <dd class="book_des">
                    公元2015年，一场波及全世界的陨石雨之后，丧尸病毒开始在全世界范围内蔓延。全世界八十亿人口中七成以上被感染。
                    于是，大厦将倾，天翻地覆。
                    而在大劫到来的前十天，李… <a href="http://www.wb18.net/modules/article/reader.php?aid=1900" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1900,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1900&cid=1547472">大结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1893.html"><img src="http://www.wb18.net/files/article/image/1/1893/1893s.jpg" alt="机甲农民" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-10</span><a href="http://www.wb18.net/book/1893.html">机甲农民</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=木汤/" target="_blank" rel="nofollow">木汤/</a></span>状态：<span style="color:red">已完成</span>大小：<span>3145K</span></dd>
                <dd class="book_des">
                    所谓机甲,终极战争之产物,究级屠杀之利刃,顶级武力之媒介,此乃极品战争机器也!
                    宇宙科技大爆炸时期一位星际吟游诗人曾说过这样的话!
                    不过,几百年后机甲早已撕下战斗铁面,… <a href="http://www.wb18.net/modules/article/reader.php?aid=1893" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1893,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1893&cid=1542815">第四百五十七章 神话的起源</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1881.html"><img src="http://www.wb18.net/files/article/image/1/1881/1881s.jpg" alt="冒牌大英雄" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1881.html">冒牌大英雄</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=七十二编/" target="_blank" rel="nofollow">七十二编/</a></span>状态：<span style="color:red">已完成</span>大小：<span>8536K</span></dd>
                <dd class="book_des">
                    一个机械修理兵能做什么，研究、改装、奇思妙想？  一个机甲战士能做什么，机甲战斗、精妙操作、奇拳怪招？
                    一个特种侦察兵能做什么，深入敌后、徒手技击、一招制敌、伪装、潜… <a href="http://www.wb18.net/modules/article/reader.php?aid=1881" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1881,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1881&cid=1537092">7月23 日晚8点，《》完本联谊会隆重开启！</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1869.html"><img src="http://www.wb18.net/files/article/image/1/1869/1869s.jpg" alt="星际大头兵" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1869.html">星际大头兵</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=大梦依稀/" target="_blank" rel="nofollow">大梦依稀/</a></span>状态：<span style="color:red">已完成</span>大小：<span>6292K</span></dd>
                <dd class="book_des">    昊羿　　一个拥有超能力，智商近乎妖孽的人类　　他在挫折中学习坚韧的含义　　在战场中接受战争的洗礼　　在死亡中感悟生命的可贵　　从大头兵到一国元首，他带领舰队剿虫族，屠… <a href="http://www.wb18.net/modules/article/reader.php?aid=1869" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1869,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1869&cid=1527675">259章 终极之战（下）</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1867.html"><img src="http://www.wb18.net/files/article/image/1/1867/1867s.jpg" alt="游戏入侵时代" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-09</span><a href="http://www.wb18.net/book/1867.html">游戏入侵时代</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=独坐愁城/" target="_blank" rel="nofollow">独坐愁城/</a></span>状态：<span style="color:red">已完成</span>大小：<span>5872K</span></dd>
                <dd class="book_des">
                    当一款网游中的植物、怪兽、11C入侵到现实中来，世界变得光怪陆离，充满神奇，侏罗纪公园、空中花园、巨人王国、鱼人岛、虚拟女神……一切都变成现实。
                    世界也因此陷入巨大的… <a href="http://www.wb18.net/modules/article/reader.php?aid=1867" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1867,0);">[加入书架]</a>
                </dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1867&cid=1526609">第786章 大结局</a></dd>
            </dl>

            <dl>
                <dt><a href="http://www.wb18.net/book/1861.html"><img src="http://www.wb18.net/files/article/image/1/1861/1861s.jpg" alt="苗疆蛊事" height="155" width="120"></a></dt>
                <dd><h3><span class="uptime">2017-06-08</span><a href="http://www.wb18.net/book/1861.html">苗疆蛊事</a></h3></dd>
                <dd class="book_other">作者：<span><a href="/modules/article/authorarticle.php?author=南无袈裟理科佛/" target="_blank" rel="nofollow">南无袈裟理科佛/</a></span>状态：<span style="color:red">已完成</span>大小：<span>2345K</span></dd>
                <dd class="book_des">    巫蛊之祸，自西汉起延续几千年，屡禁不止，直至如今，国学凋零，民智渐开，在大中国，唯乡野之民谈及，许多“缘来身在此山中”的人都不知不晓不闻。而巫蛊降头茅山之术，偏偏在东… <a href="http://www.wb18.net/modules/article/reader.php?aid=1861" target="_blank">[章节目录]</a> <a href="#" onclick="addbookcase(1861,0);">[加入书架]</a></dd>
                <dd class="book_other">最新章节：<a href="http://www.wb18.net/modules/article/reader.php?aid=1861&cid=1522625">第十六章 最幸福的吃货</a></dd>
            </dl>

            <div class="clearfix"></div>
        </div>
        <div class="all_ad mtop"><span id="ad_980_2"></span></div>
    </div>
</body>
</html>