<html>
<body>
    <div class="widget rounded_rect vmiddle" id="widgetw5075B7DB5F1496279815068p" data-cid="w5075B7DB5F1496279815068" data-link_cid=""
         style="width:725px;height:810px;left:230px;top:190px;color:;background-color:;border-color:;transform: rotate(0deg);-webkit-transform: rotate(0deg);
font-size:14.0px;padding:0px;border-radius:0px;border-width:1px;border-style:solid;text-align:center;line-height:20px;font-weight:normal;font-style:normal;z-index:5;
opacity:1;pointer-events:auto;position:relative">
        <div class="text" style="padding: 0px;"><p>&nbsp;</p></div>
        <div class="label">背景</div>



        <style>
            .logined- .c-9 {
                *display: inline-block;
                *float: left;
            }

            .top-header .line- {
                *float: left;
            }

            .logined- .mark-bg- {
                *display: inline;
            }

            .iconHeader {
                *padding-left: 3px;
                *display: inline-block;
                *top: 2px;
            }

            .logined- .arrow-db {
                z-index: 23;
            }

            .login-space {
                *padding: 0 10px;
            }

            .read-boxTop- {
                *top: 34px;
                *right: -220px;
            }

            .person-out > i {
                *background-position: -183px 2px;
            }

            .person-out:hover i {
                *background-position: -183px -22px;
            }

            .user-out {
                position: absolute;
                *width: 65px;
                *right: -20px;
                *bottom: -8px;
            }

            .blackspan {
                color: #333;
            }
        </style>

        <div class="main_" id="container">

            <div class="title_ c-3">
                <h2 class="f-l">正文&nbsp;&nbsp;第001章 雨夜僵尸</h2>
                <div class="f-r">
                    <!-- <div class="box_ c-9"><i class="pop"></i>已经收藏成功</div> -->
                    <div class="text-size_ hidden">
                        <i class="pop"></i>
                        <ul class="choice" id="select_color">
                            <li class="white_"></li>
                            <li class="yellow_"></li>
                            <li class="green_"></li>
                            <li class="red_"></li>
                            <li class="ash_"></li>
                            <li class="blue_"></li>
                        </ul>
                        <hr class="clearfix bor_" />
                        <ul class="choice" id="font-size_">
                            <li class="one_"></li>
                            <li class="two_"></li>
                            <li class="three_"></li>
                            <li class="four_"></li>
                            <li class="five_"></li>
                            <li class="six_"></li>
                        </ul>
                        <hr class="clearfix bor_">
                        <ul class="size">
                            <li class="border-ss"><span>默认</span></li>
                            <li><span>640</span></li>
                            <li><span>800</span></li>
                            <li><span>1280</span></li>
                            <li><span>1440</span></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <a href="javascript:void(0);" class="collect_ bookCollect" data-id="488600"></a>
                    <a href="javascript:void(0);" class="tag_" data-id="488600" part-id="44895272"></a>
                    <a href="javascript:void(0);" class="set_" id="set_"></a>
                    <!-- <a href="javascript:void(0);" class="shrink_"></a> -->
                </div>
            </div>
            <hr class="border-top_ clearfix" />
            <div class="book-name_">
                书名：
                <a href="/book/488600/" target="_blank">
                    我的僵尸女友
                </a>&nbsp;&nbsp;
                作者：
                <a href="/space/author/16569" target="_blank">
                    黑色的毛衣
                </a>&nbsp;&nbsp;
                本章字数：
                2451&nbsp;&nbsp;
                更新时间：2017-03-01 18:58
            </div>
            <div class="article_ c-3" id="partContent"><p>我叫严震，是来自农村的孩子。</p><p>名字不是我爸妈起的，而是我奶奶起的，爷爷、爸爸妈妈在我出世那一天都因为意外去世了，是奶奶含辛茹苦地把我拉扯大的。</p><p>她老人家跟我说过一个故事。</p><p>在五十年前，乱世纷争，鬼王谷嘉和僵尸王伏天趁机肆虐，驱魔族人“西寒东武”提剑出山，经过浴血奋战终是将僵尸剿灭，将恶鬼遣回地狱。</p><p>十年前，两大魔头重现人间企图祸害苍生，为保天下太平，天朝政府在全国各地秘密成立“异能调查科”处理各种灵异事件。</p><p>天降使命，“西寒东武”这两个神秘的驱魔族人重拾宝剑法器，再度出山以维护人间正道。</p><p>人民生活在繁华盛世，西寒东武和异能调查科则是在黑暗深处和恶鬼、僵尸抗衡。</p><p>这个故事我听她讲了二十多年了，她老人家还经常吓唬我说深山有老坟猛鬼和吸血僵尸，不让我往里面走，要我努力读书去大城市生活。</p><p>如她老人家所愿，大学毕业后我在大城市拼搏了几年，有了自己的房子车子。</p><p>可是恶人当道，在半年前我被一个叫寒天的恶霸欺凌，他不但使我一夜回到解放前，还害我顿了半年牢。</p><p>铁窗生活有多么残酷，我想这一辈子我都不会忘记。</p><p>这一切我都没跟奶奶说，因为我怕她承受不了这个打击，因为在我们农村，蹲过劳子就意味着被烙上了坏人的烙印。</p><p>就在刚刚，重见天日的我去寒天的酒吧找他理论，却被他的手下狠揍了一顿扔在了后巷。</p><p>他们也不管我的死活，转身就回酒吧了。</p><p>妈的，这弱肉强食的世界，没钱没权就是要被欺负！？</p><p>雨，不停地落在被打我脸上，我一边笑一边抹走鼻子的血，把酒瓶往嘴里一怼，烈酒入肚，心中千万个不甘瞬间涌了出来。</p><p>“寒天，你勾结黑商骗老子全副身家，还诬陷我诈骗打人，害我在局里蹲了六个月，你还是不是人！”</p><p>骂着骂着，可能是累了，又或者是醉了，我居然倒在墙角下就睡了过去。</p><p>当我醒来的时候，雨已停，酒吧也已关门，看了看破手机的时间，原来已是凌晨四点。</p><p>我记得奶奶说过，月有阴晴圆缺，人有三衰六旺，在人生低谷的时候时运都很低，也就是俗语说的越穷越见鬼，所以要千万注意言行举止，不能让脏东西有机可乘。</p><p>想到这，我的酒立马就醒了一大半！</p><p>我顺手就捡起地上一根棍子作为拐杖，眯眼一看，这不是什么棍子，而是一把剑柄上绑有灵符的桃木剑。</p><p>奇怪，这酒吧后巷怎么有这玩意？</p><p>我扭着头看向四周，发觉街上路灯忽明忽暗，周围一塌糊涂，似乎是经历了某些力量的破坏。</p><p>不会那么邪门吧？</p><p>说老实话，我身体本来就瘦小，现在大半夜的一个人在这昏暗的街道上，说不害怕那是骗人的。</p><p>我快步走出空荡寂寥的街道，别说人了，连车都没一辆，两旁的墙上，垃圾桶、电线杆都沾有不少乌黑粘稠的液体，衣服碎片和各种鞋子洒落一地。</p><p>“不管了，先回家再说，今晚这里怪怪，万一，万一，呸呸呸！”</p><p>不知道是不是喝了酒的缘故，被风一吹我的手脚一下子就冰冷起来。</p><p>这风怎么这么凉！？</p><p>我越走就越是浑身不自在，总觉得有人在暗处盯着自己看，后心凉飕飕的，说不出的难受。</p><p>短短的几公里路，硬是被我走出了天路的感觉。</p><p>“天灵灵地灵灵，太上老君显真灵！”</p><p>我一手捏着灵符一手挥舞桃木剑，嘴上不断重复着这一句我一害怕就会念出来的咒语。</p><p>“呼！”</p><p>就在这时候，一辆摩托车飞驰而过，又一辆警察紧随其后，吓了我一跳！</p><p>眯眼看去，只见警车上写着“特警”两个白色大字。</p><p>看到这儿，我一下子就明白过来了，难怪周围乱七八糟的了，原来是警察抓犯人？</p><p>“哐”的一声，摩托车摔在路边，警车也急刹车停下，一名女子被两名警察拼命追赶着！</p><p>那女子长得很是冷艳，皮肤娇嫩，唇红齿白，双眼有一层淡红色眼影，身材高挑而性感，尤其是胸前那两团圣物摇摇欲坠，令人忍不住多看几眼。</p><p>“救命，救命啊！”</p><p>跑在前面的女子见到我在前面后立即大叫：“他们是僵尸！救我！”</p><p>看着她胡言乱语、疯疯癫癫的，我心中可惜了这美女，居然是精神病逃犯？</p><p>慢着…好像…有点不对劲！</p><p>我再次放眼望去，发现身穿警服的两个男人确实有些不太对劲，跑动的步伐明显大于常人，而且都是一脸煞白，殷红的大嘴中有一对白得渗人的僵尸尖牙！</p><p>不会吧？这……这三更半夜的…要整哪出啊！？</p><p>奶奶说的故事，不会是真的吧！？</p><p>那不是她编的故事吗！？</p><p>我的天，不管是否真假了，先跑为妙啊！！</p><p>我原本想趁着那半点酒意壮着胆溜之大吉的，可是那女的叫得撕心裂肺，我真的不忍心抛下她！</p><p>“走这边！”</p><p>我猛地拉过女子就往一条小巷子跑去：“这是怎么回事？这世界上怎么会有僵尸！？”</p><p>她脸色吓得雪白，一双玉手都被吓得冰凉：“他们是假冒警察的僵尸，求求你救我，救我！”</p><p>“上车，我们上车，那辆车没锁，你坐前面我在后面保护你！！”</p><p>我将她拉上一辆停靠在路边摩托车，而我则是在后使劲打火：“太上老君显灵，求你帮帮忙开动这车吧！”</p><p>“呜！”</p><p>可能真是太上老君显灵了，这摩托车还真被我打着火了！可是这车好像很久没动了，一开始行驶的时候不能开太快！</p><p>“呜啊！！”</p><p>这时候，那两个獠牙僵尸也追到了！</p><p>我的乖乖！</p><p>还真他妈的是僵尸啊！</p><p>近距离看着我们那长长的僵尸牙和指甲，我差点没被吓死，我急忙用桃木剑往后舞动，试图迫使僵尸不敢往前追来！</p><p>“美女你开车，我来拦着我们！”</p><p>我奶奶说过，桃木为五木之精，亦称仙木，有镇宅辟邪之神功，对付僵尸尤其有效！</p><p>“别过来，别过来！”</p><p>可是不知道为何，那两个僵尸好像不怕死似的居然疯了一样扑上来，其中一个僵尸指甲很长，一把抓在我小腹下边一点，很快，几条血淋淋的抓痕伤口便出现了！</p><p>“唔！”</p><p>我一声闷哼，左臂情不自禁地往前一抱，大手丝毫不差地抱在美女傲人胸前，那酥软的触感，瞬间令我为之一振！</p></div>
            <hr />

            <div class="jump_">
                <span>(←快捷键)</span>
                <a class="disabled">上一章</a>
                <a href="/book/catalogue/488600">返回目录</a>
                <a href="/book/488600/44895273/">下一章</a>
                <span>(快捷键→)</span>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>

</body>
</html>