@model Reading.Models.Chapter

<html>

<head>

    <style>
        .logined- .c-9 {
            *display: inline-block;
            *float: left;
        }

        .top-header .line- {
            *float: left;
        }

        .logined- .mark-bg- {
            *display: inline;
        }

        .iconHeader {
            *padding-left: 3px;
            *display: inline-block;
            *top: 2px;
        }

        .logined- .arrow-db {
            z-index: 23;
        }

        .login-space {
            *padding: 0 10px;
        }

        .read-boxTop- {
            *top: 34px;
            *right: -220px;
        }

        .person-out > i {
            *background-position: -183px 2px;
        }

        .person-out:hover i {
            *background-position: -183px -22px;
        }

        .user-out {
            position: absolute;
            *width: 65px;
            *right: -20px;
            *bottom: -8px;
        }

        .blackspan {
            color: #333;
        }

        #wid {
            width: 725px;
            height: 810px;
            left: 230px;
            top: 190px;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            font-size: 14.0px;
            padding: 0px;
            border-radius: 0px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            z-index: 5;
            opacity: 1;
            pointer-events: auto;
            position: relative;
        }
    </style>





</head>



<body>

    <div class="widget rounded_rect vmiddle" id="wid" data-cid="w5075B7DB5F1496279815068"style="overflow:scroll; width:725px; height:810px;">


        <div class="text" style="padding: 0px;"><p>&nbsp;</p></div>
        <div class="label">背景</div>
        <div class="main_" id="container">
            <div class="title_ c-3">
                <h2 class="f-l">正文&nbsp;&nbsp;@Html.DisplayFor(model => model.title)</h2>
                <div class="f-r">
                    <div class="text-size_ hidden">
                        <i class="pop"></i>
                        <ul class="choice" id="select_color">
                            <li class="white_"></li>
                            <li class="yellow_"></li>
                            <li class="green_"></li>
                            <li class="red_"></li>
                            <li class="ash_"></li>
                            <li class="blue_"></li>
                        </ul>
                        <hr class="clearfix bor_" />
                        <ul class="choice" id="font-size_">
                            <li class="one_"></li>
                            <li class="two_"></li>
                            <li class="three_"></li>
                            <li class="four_"></li>
                            <li class="five_"></li>
                            <li class="six_"></li>
                        </ul>
                        <hr class="clearfix bor_">
                        <ul class="size">
                            <li class="border-ss"><span>默认</span></li>
                            <li><span>640</span></li>
                            <li><span>800</span></li>
                            <li><span>1280</span></li>
                            <li><span>1440</span></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <a href="javascript:void(0);" class="collect_ bookCollect" data-id="488600"></a>
                    <a href="javascript:void(0);" class="tag_" data-id="488600" part-id="44895272"></a>
                    <a href="javascript:void(0);" class="set_" id="set_"></a>
                    <!-- <a href="javascript:void(0);" class="shrink_"></a> -->
                </div>
            </div>
            <hr class="border-top_ clearfix" />
            <div class="book-name_">
                书名：
                <a href="/book/488600/" target="_blank">
                    我的僵尸女友
                </a>&nbsp;&nbsp;
                作者：
                <a href="/space/author/16569" target="_blank">
                    黑色的毛衣
                </a>&nbsp;&nbsp;
                @*本章字数：
                2451&nbsp;&nbsp;
                更新时间：2017-03-01 18:58*@
            </div>
            <div class="article_ c-3" id="partContent">
                <pre style="font-size:15px"> @Html.DisplayFor(model => model.content) </pre>  
                 <hr />

            <div class="jump_">
                @*<span>(←快捷键)</span>*@
                <a class="disabled">上一章</a>
                <a href="/book/catalogue/488600">返回目录</a>
                <a href="/book/488600/44895273/">下一章</a>
                @*<span>(快捷键→)</span>*@
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

        </div>
</body>

</html>