@model Reading.Models.Book
@{
    ViewBag.Title = "ShowBookInfo";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <style>
        ul, p {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        .box {
            width: 500px;
            margin: 100px auto;
        }

            .box .img {
                float: left;
            }

                .box .img img {
                    width: 200px;
                    height: 200px;
                }

            .box .list {
                float: left;
                width: 200px;
                margin-left: 20px;
                display: inline;
            }

                .box .list li {
                    line-height: 50px;
                    font-size: 14px;
                }

        .list li span {
            font-weight: bold;
        }
        #1 {
            margin-right:100px;
        }
       

    </style>
</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="box" id="1">
        <div>
            <div class="img">
                <img src="http://www.wb18.net/files/article/image/2/2020/2020s.jpg" alt="巨星从业者" height="155" width="120" />
            </div>
            <ul class="list">
                <li></li>
                <li></li>
                <li><span>书名：</span>巨星从业者</li>
                <li>
                    <span>作者:</span>君王带笑
                    <br />
                    <br />
                    <form id="form3" name="form3" method="post" action="">
                        <button type="submit" class="btn btn-success" style="background-repeat:#808080;height:28px;width:50px;" onclick="window.open('')">阅读</button>
                        <button type="submit" class="btn btn-success" style="background-repeat:#808080;height:28px;width:50px">收藏</button>
                    </form>
                </li>
            </ul>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <div id="2"style="width:900px;height:900px">
            <p style="font-size:20px;">图书信息</p>
            <HR  color=#987cb9 SIZE=0 />
            <p>他是霍去病，是展昭，是唐钰小宝，是剑客，是时代小青年，是厂花，是冷血杀手，是温情大叔，是无畏战士，是仙帝，他他他……
                    他不是变态，他也不是分裂，他只是一个演员！</p>

        </div>
    </div>
</body>
</html>
